[2016-11-04 18:51] dieterdemeyer opened #1 "Version of macOS Sierra"
Hello,

Is there a big difference between macOS Sierra 10.12.1 build 16B2657 and 16B2555 for this app to work ?
Because I have the latest version through the App Store, which is version 16B2555 and released on October 25h. When starting TouchBarServer, I get an error stating that I have the wrong version for this to work..

But according to the link you provided, that update dates from October 27t

[2016-11-04 19:02] robbertkl commented on #1
Hi,

You do require build 16B2657, which adds the SDK for controlling/interacting with the Touch Bar. The error message you're seeing confirms the app could not find the necessary framework.

Actually, recent upgrades to Sierra (a Mac I've upgraded yesterday) already end up with 16B2657, so it seems Apple has begun distributing this build. However, since you've probably upgraded to Sierra before t

[2016-11-05 11:45] dieterdemeyer commented on #1
Hello,

Indeed, the TouchBarServer app has no problem starting with build 16B2657 of macOS Sierra.
I suppose there are no side effects with installing macOS updates outside of the App Store ?

Could this also work through a wireless connection ?
Currently, for this to work, you need to connect your iOS device through a USB cable.

Thanks in advance.

[2016-11-05 12:02] robbertkl commented on #1
No, there should be no side effects, since this is not a Beta or Developer Preview, but a regular version. In fact, everyone who's upgrading to Sierra right now will get this same version. You will still get 10.12.2 as a normal update through the App Store.

As for WiFi, we've actually tried this as well. While it worked, it did not perform as well as the USB connection. The frame rate of the anim

[2016-11-05 18:30] jaramire opened #2 "Any way to make it work on a phone?"
Hello,
Is there any way to make this work on a phone using the entire screen. Meaning, not have it act like a long touch bar, but a couple of rows on the phone instead; something that wraps around on the last widget that fits on each row. I can see this as a nice way to work with a laptop and an iPhone attached.

[2016-11-05 18:46] robbertkl commented on #2
Yes, technically this would be possible. However, because interaction with the Touch Bar includes dragging, we've decided not to cut up the bar into pieces. This way, we keep the Touch Bar experience as close to the real Touch Bar on the new MacBook Pro.

[2016-11-05 18:46] dieterdemeyer commented on #1
Hi,

I managed to get everything working. This is a great tool !
Hopefully, the WiFi feature can be added in the future...

Thanks.

[2016-11-05 18:46] #1 closed

[2016-11-06 06:19] esteszeke opened #3 "Center the touch bar (or) fill the whole bottom"
As tittle suggests. When pressing Fn it appears on screen closest to the mouse pointer. If you do it at the base of the screen it shows up alined, but only extending from one corner or the other, leaving about one inch from either the right or the left.

non-retina MacBook Pro 2010-mid.

Works great so far, though, I love it!

[2016-11-06 09:38] robbertkl commented on #3
Hi, thank you for your feedback. The Fn-toggle was designed to appear at your mouse pointer when needed, and to be dismissed when you're done. It isn't really meant to be stationary on the screen. However, if you put your mouse pointer in the bottom center of the screen, the Touch Bar should appear centered and aligned to the bottom of the screen. The Touch Bar is rendered at it's original resolut

[2016-11-06 09:50] totox777 opened #4 "will it work on ipad 1?"

[2016-11-06 09:57] robbertkl commented on #4
The iOS app requires at least iOS 8. Unfortunately, the first iPad cannot be updated beyond iOS 5.1.1, so it won't be able to run the iOS Touch Bar Demo App.

You will need an iPad 2 or higher, provided it's updated to at least iOS 8.

[2016-11-06 09:57] #4 closed

[2016-11-06 11:07] julianschiavo commented on #3
Around how much time until this feature is implemented? (@robbertkl)

[2016-11-06 14:22] robbertkl commented on #3
No idea yet. Please note that this is just a demo app, not a fully featured product. That being said, we might still add some small features in the coming days/weeks.

[2016-11-06 14:43] dieterdemeyer opened #5 "Fn-toggle stops working after some time"
Hello,

I've been using the app for a few hours now during the weekend and I noticed that the Fn toggle stops working after a certain period of time.
When reenabling the "On-Screen Touch Bar" from the menu bar, it seems to be working again.

Anything I can do to help debug this ?

[2016-11-06 17:43] tracerrx opened #6 "Running 10.12.1, but requires 10.12.1"
![image](https://cloud.githubusercontent.com/assets/5452178/20040057/7a14ed9c-a41e-11e6-8edb-19dfcc568a33.png)
![image](https://cloud.githubusercontent.com/assets/5452178/20040061/8ab2e56e-a41e-11e6-9d90-541e8f82d760.png)

[2016-11-06 18:07] AndreasVerhoeven commented on #6
Hi,

It requires 10.12.1 (**build 16B2657**), you appear to have build 16B2555, which does not have any Touch Bar capabilities.

[2016-11-06 18:09] AndreasVerhoeven commented on #5
Hi Dieter,

Can you easily reproduce this behavior?

My best bet is that the "key presses" detection function is sometimes missing a "key up", event, which makes the app thinks another key is always pressed (in which case it won't pop up the Touch Bar - only single Fn presses will do).

[2016-11-06 18:09] robbertkl commented on #6
To see your build number, you can click on the version number on the About This Mac screen.

[2016-11-06 18:43] tracerrx commented on #6
That worked... thanks

[2016-11-06 18:47] dieterdemeyer commented on #5
Hello,

I have the TouchBarServer application running non stop.
Then after some time, pressing the Fn key doesn't show the TouchBar anymore.
The solution is to reenable it from the menubar, or as it turns out, wait some more and then it just works again for a period of time.

Is there any logging behind the scenes that we can look at to find out where the problem is ?

[2016-11-06 18:50] AndreasVerhoeven commented on #5
There's no logging by default, but if you have Xcode it's fairly easy to add it yourself:
`TouchBarDelegate.m`, line 262: add `NSLog(@"Key event: %@ (%ld)", event, (unsigned long) pressedKeySet.count);`

[2016-11-06 18:50] GoldenChaos opened #7 "Add software keyboard underneath the Touch Bar on iPad"
A software Mac keyboard in the iPad app (*not* the iOS system keyboard) would make my iPad Pro totally usable as a replacement for my magic keyboard. In lieu of tactile feedback, I'd use the iOS keyboard clicks.

For extra credit, use the leftover area above the keyboard for Mission Control-style Spaces management and fast switching.

If a design is needed, I'm a professional UI/UX designer and I'

[2016-11-06 18:52] b- commented on #2
Perhaps the bar could be scrolled, so one could drag, say, above or below it to go from one end to the other.

[2016-11-06 19:16] #6 closed

[2016-11-06 19:28] juststevede commented on #5
Hi guys,

I have the same behavior. It is working great for some time but stops working and need to be disabled and enabled in the menubar to make it work again.

Steve

[2016-11-06 20:18] AndreasVerhoeven commented on #5
Not sure what's going on yet, but we're trying to track this. Difficulty is caused by the time it takes for it to stop working

[2016-11-06 20:22] juststevede commented on #5
I will try to narrow it down and provide more information.

Anyway thank you so much for sharing your awesome work!

[2016-11-06 20:39] ajkuftic commented on #7
This was the very first thing I thought about when I saw the app. This is pretty much what I want Apple to do for an external Touch Bar enabled keyboard.

Imagine being able to two finger swipe between a regular QWERTY keyboard to an app specific keyboard (like large buttons for Photoshop functions).

I know there are RSI issues with a pure touchscreen keyboard for long form typing (say, coding),

[2016-11-06 21:18] dieterdemeyer commented on #5
Hi,

I can't seem to find the file `TouchBarDelegate.m`, only `AppDelegate.m`.
I assume that's the one you mean ?

This time, it stopped working coming out of sleep mode. After opening XCode, it worked again. But it seems very random, both in the moment it stops working as well in opening other applications where the functionality returns..

[2016-11-06 21:33] AndreasVerhoeven commented on #5
Sorry, my bad. It's this file: https://github.com/bikkelbroeders/TouchBarDemoApp/blob/master/TouchBarServer/AppDelegate.m

[2016-11-06 21:56] nick2011 opened #8 "more Touch bars"
I don't know if it's possible but could you split the Touch Bar into multiple lines
First line the normal FN Keys
Second line Autocorrection
Third line Emoji's
fourth line often used shortcuts e.g. CMD+C, CMD+V, CMD+X
and maybe an software keyboard

[2016-11-07 00:41] AndreasVerhoeven commented on #8
Hi Nick,

Unfortunately, that's not easily doable: the Touch Bar is just a graphical screen where each item could be on a different place depending on a lot of factors: all we see is basically an image.

[2016-11-07 01:01] AndreasVerhoeven commented on #7
We might have an idea for this. Stay tuned.

[2016-11-07 04:40] hankisthatyou opened #9 "Show TouchBar on Fullscreen mode?"
Not sure if this is achievable, but would be nice if we can have the TouchBar shown on fullscreen mode.

[2016-11-07 04:52] CrabbieCanuck opened #10 "Version Installed but not recognized"
I have the correct version of MacOS running (10.12.1), and yet I get the message:

"We need at least macOS 10.12.1 (build 16GB2657)"

[2016-11-07 06:57] avlysenko opened #11 "Is it possible to install this app via Xcode without Apple certificate?"
When compiling throws two or three errors:
The operation couldn’t be completed. Unable to log in with account ''. The login details for account '' were rejected.
No profiles for 'com.bikkelbroeders.TouchBarClient' were found:  Xcode couldn't find a provisioning profile matching 'com.bikkelbroeders.TouchBarClient'.
Code signing is required for product type 'Application' in SDK 'iOS 10.1'

***

Perh

[2016-11-07 08:31] pbernery commented on #10
Same here but my build number is 16B2555 whereas the doc indicates 16B2657 is needed.

[2016-11-07 08:57] robbertkl commented on #10
Yes, you will need 10.12.1 build 16B2657, this is explained in the README. Version 10.12.2 build 16B2555 does not have Touch Bar support.

Please download build 16B2657 from [this link](https://support.apple.com/kb/dl1897).

[2016-11-07 08:57] #10 closed

[2016-11-07 09:05] robbertkl commented on #11
In order to run an app on your iOS device, the app needs to be signed. We can't upload a signed version without going through the App Store. Fortunately, Apple now supports sideloading without the need for a paid developer account.

Please follow [these instructions](http://bouk.co/blog/sideload-iphone/) for sideloading.

[2016-11-07 09:05] #11 closed

[2016-11-07 09:09] robbertkl commented on #9
Do you mean for the on-screen Touch Bar, or the USB iPad Touch Bar? What do you mean by fullscreen mode?

Currently, the Fn-toggled on-screen Touch Bar already works in fullscreen macOS apps, but perhaps this is not what you mean.

[2016-11-07 09:10] #8 closed

[2016-11-07 09:25] robbertkl commented on #2
While the app would run on an iPhone, it's really meant for larger screens like the iPads. We have some plans for the leftover screen space (see #7), but for the time being we won't be optimizing it for iPhone use by showing only a part of the Touch Bar.

Of course, since the app is open source, you could create your own fork for an iPhone optimized version. @b-'s suggestion might turn out quite n

[2016-11-07 09:25] #2 closed

[2016-11-07 10:51] cndymn opened #12 "Getting built error"
When I try to run the app inside a simulator or trying to install it on my iPad I always get the following error:

"Command /Applications/Xcode.app/Contents/Developer/usr/bin/ibtool failed with exit code 255"

[2016-11-07 11:28] hankisthatyou commented on #9
When switching between windows and full screen apps, currently you need to retoggle on-screen Touch Bar. Is there anyway to make it stay in the same position all the time?

[2016-11-07 12:08] stipus commented on #7
Bottom of the screen: virtual keyboard
Above keyboard: touch bar
Remaining area on top of the screen: virtual trackpad

This way we can 100% control the mac from a connected iPad

EDIT: Maybe it would be better for practical reasons to have the trackpad area under the virtual keyboard.

[2016-11-07 14:34] GoldenChaos commented on #7
@stipus I've used a lot of virtual trackpads and they all suck; they have weird custom pointer acceleration, they're full of stutter and lag, and you can't get force touch. But the nail in the coffin has to be the ergonomics. Because the user can't rest their palms on the iPad, the keyboard must be at the bottom of the iPad's screen to be comfortable to use. This means that there's no good placeme

[2016-11-07 14:46] avaidyam commented on #9
There is; I've got a very stripped down version of this tool that does that. I'll make the code happy and release it later. It also supports docking the window at the bottom of the screen instead of following your cursor around.

[2016-11-07 15:13] robbertkl commented on #9
Great, we're also working on something similar, but I'm interested to see what you've made @avaidyam.

[2016-11-07 15:30] dieterdemeyer opened #13 "Feature to Customize the TouchBar"
Hello,

Do you think it would be technically possible to have the ability to customize the TouchBar in different applications like the real TouchBar on the new MacBook Pro ?
Feature wise this would be a great addition, but I'm not sure it's even possible.

[2016-11-07 15:33] robbertkl commented on #13
Hi @dieterdemeyer, this is already possible! Our app renders the real Touch Bar, so you can customize it just like the real one.

For most apps, there is now a "Customize Touch Bar..." option in the View menu. Also, in Preferences > Keyboard, there are options for what the Touch Bar shows by default and a button to customize the control strip.

[2016-11-07 15:33] #13 closed

[2016-11-07 15:48] dieterdemeyer commented on #13
My bad, I didn't even notice.
I'll definitely check it out.

[2016-11-07 15:53] FernandoMiguel commented on #13
@robbertkl where is that?
i cant see it
![screenshot 2016-11-07 15 53 13](https://cloud.githubusercontent.com/assets/168366/20064367/5a6cf694-a502-11e6-845d-665d8a83256d.png)

[2016-11-07 16:04] robbertkl commented on #5
@dieterdemeyer @juststevede We've just released [v1.2](https://github.com/bikkelbroeders/TouchBarDemoApp/releases/tag/v1.2) which handles the Fn key in a completely different (and hopefully more reliable) way. Could you install this version and see if the issue is now gone?

[2016-11-07 16:06] robbertkl commented on #12
Can you send us the complete error message? And what are the Xcode and iOS versions you're using?

[2016-11-07 16:07] juststevede commented on #5
I already downloaded the new version and will keep you posted. Again, thanks for sharing your work!

[2016-11-07 16:18] dieterdemeyer commented on #5
Same here.
Installed new version and I will let you know..

[2016-11-07 18:43] robbertkl commented on #13
Hi @FernandoMiguel, it's a bit different in each app, not all apps have the option.

Here's Safari:

<img width="481" alt="screen shot 2016-11-07 at 19 38 32" src="https://cloud.githubusercontent.com/assets/5704510/20070839/4a72111e-a522-11e6-9445-ce75910eb639.png">

Finder:

<img width="363" alt="screen shot 2016-11-07 at 19 38 56" src="https://cloud.githubusercontent.com/assets/5704510/20070845/

[2016-11-07 18:50] FernandoMiguel commented on #13
@robbertkl
updated to 1.2 and now it's there.
you guys are moving too fast :)

[2016-11-07 19:05] dieterdemeyer commented on #13
@robbertkl Can you also remove items from the TouchBar ?
When following the steps described [here](http://www.imore.com/how-customize-touch-bar-macbook-pro), it doesn't seem to work.. Or does this work in a different way ?

[2016-11-07 19:40] dieterdemeyer opened #14 "Start at Login"
Hello,

When checking **Start at Login** in the menu bar, and then restarting macOS, the TouchBarServer app doesn't seem to be starting on its own.
The app needs to be launched manually to work.

[2016-11-07 20:11] AndreasVerhoeven commented on #13
You can just drag items from the Touch Bar using your mouse. We don't control the inner workings of the Touch Bar, we're only making it visible and interactable on an iPad.

[2016-11-07 20:28] dieterdemeyer commented on #13
Could it perhaps be an issue when using the On-Screen TouchBar specifically and not the iPad TouchBar Client ?
I've been testing On-Screen TouchBar most of the time.  When adding items, the on-screen touchbar disappears obviously to make room for the list of items you can choose from to add to the TouchBar.

[2016-11-07 20:29] dieterdemeyer commented on #5
I've been running the new version on 2 MacBooks for a few hours now without any issues.

[2016-11-07 20:54] idcrook opened #15 "Command-Tab doesn't seem to function when app is running"
Try it when you have the Touch Bar running.
 ⌘-⇥
 It flashes the window showing app list momentarily, then immediately closes it and switch to the app/windows you were already using.

Not sure this is just an anomaly of my system or not.

When I close the Server (and Client) app, the Command-Tab functionality is restored.

[2016-11-07 21:36] duraidabdul opened #16 "Emojis don't work properly"
When the touch bar is displayed on the Mac, emojis do not show properly, they are cut off at the bottom, and the full emoji list or scroll view is not available

[2016-11-07 21:59] robbertkl commented on #13
You're right, that currently blocks the ability to customize it. We might add a permanent on-screen Touch Bar as well; we'll try to have that one stay on screen even in customization mode, if possible.

[2016-11-07 22:02] robbertkl commented on #14
Hi @dieterdemeyer, did you move the app to your Applications folder? The _Start at Login_ only works when the app resides in `/Applications`.

[2016-11-07 22:04] NetOpWibby commented on #15
I'm not having this issue.

[2016-11-07 22:22] juststevede commented on #5
I didn't have any issues anymore too. Well done!

[2016-11-07 22:30] robbertkl commented on #5
Awesome, I'll consider this resolved and close the issue. If ever it's coming back after all, just reopen or submit a new issue.

[2016-11-07 22:30] #5 closed

[2016-11-07 22:37] nick2011 opened #17 "Have to rebuild it"
I have to rebuild it every time I wan't to use it.
If I lock my iPad or close the app, I have to rebuild the app using Xcode otherwise I will just get the message:
"Please connect this device ti your Mac and start TouchBarServer..."

[2016-11-07 22:38] robbertkl commented on #16
Can you add a screenshot of this? And please add some additional information like:
- The version of TouchBarServer you're using
- If you're using the on-screen Touch Bar or a USB connected iOS device

Please note we do not control the contents of the Touch Bar, macOS does. We just display it.

[2016-11-07 22:42] robbertkl commented on #17
You don't have to rebuild the app. If it's not working, you can also quit the app using the multitasking control (double click the home button and swipe the Touch Bar app upwards). Then it will restart completely and the app will work again.

The issue with locking the iPad has been resolved recently. Please pull the latest version of this repo and rebuild/reinstall the iOS app. After this, lockin

[2016-11-07 22:46] robbertkl commented on #15
I can't seem to reproduce this issue. Using either the on-screen and USB Touch Bar, command-tab keeps working fine. Can you try these steps:
1. Reboot your mac and log in
2. Check if command-tab is working properly
3. Start TouchBarServer (don't connect any iOS device yet)
4. Check again if command-tab is still working properly
5. Connect your iOS device running the Touch Bar app
6. Check once mor

[2016-11-07 22:52] nick2011 commented on #17
Ok Now it works correctly.
Sorry I missed V1.3 😂

[2016-11-07 22:52] #17 closed

[2016-11-07 22:53] calaidosCope opened #18 "Fn-Key does not work AND an option to position the bar on a static place"
Hi. Big Up for this.
My setup: SurfacePro1, Sierra 10.12.1 (16B2555), TBDA 1.2

My  internal fn-Key "reacts" with all the F-keys without a problem. If i press it solo: nothing. Using an "external-keyboard" (Apple-wireless) the Fn-Key works. What about choosing the trigger-key?

And "one more thing": The bar shows up under the mousepointer. In my case (touchscreen) i would like to have it on the lo

[2016-11-07 23:08] robbertkl commented on #18
We're going to add a fixed, full width Touch Bar which sticks to the bottom. As for the Fn-key, it seems your system might use a different keycode. We aim to support only Mac devices, where the Fn-key works fine on both internal keyboards and external Apple keyboards.

Thank you for the suggestion to make the trigger key customizable. I think most people (like you) will switch to the permanent on-

[2016-11-07 23:10] avaidyam commented on #9
In `[TouchBarWindow init...]`:

[code]

[2016-11-07 23:11] avaidyam commented on #9
In `AppDelegate`:

[code]

Then, where you were doing the `setFrameOrigin:` before,

[code]

[2016-11-07 23:12] avaidyam commented on #9
@robbertkl @AndreasVerhoeven That covers the majority of the changes I'd made. I ended up gutting out the iOS portion on a whim. The changes above allow the bar to both follow the mouse cursor and stay docked to the bottom of the screen, and stay on top of every window (except the login window).

[2016-11-07 23:13] avaidyam commented on #16
@duraidabdul The "full Emoji list" as previewed during the Apple event is not available yet. Just the smaller recent Emoji list.

[2016-11-07 23:19] avaidyam opened #19 "Better Start at Login?"
Maybe a good idea would be to just use the `LSSharedFileList` API even though it's soft-deprecated? I think the use of a separate helper app is a bit unwieldy. Also, the repo could also be renamed to `TouchBarServer` or `TouchBar` depending on what the macOS app's name will end up being.

[2016-11-07 23:26] robbertkl commented on #19
I thought this is (or was?) the recommended way to do the Start on Login. I also don't really like the helper app, but it works, as long as the app resides in `/Applications` anyway 😉. Feel free to drop a PR to change it and I'll take a look. Please include the pros and cons for the other method so we can use that in our decision.

As for the repo rename, what do you mean exactly? The repo current

[2016-11-07 23:51] robbertkl commented on #16
Makes sense, that's why I couldn't find it anywhere :smile:.

Will close this issue then, awaiting Apple's next update.

[2016-11-07 23:51] #16 closed

[2016-11-07 23:51] avaidyam commented on #19
As for the repo renaming, I know I use this tool the same as the Xcode built in simulator for development purposes... so why not call it `TouchBarSimulator`?

This tool is probably never going on the MAS so we should be able to use the _much cleaner_ API.

[2016-11-07 23:52] avaidyam commented on #16
@robbertkl Yup! Grab yourself a copy of Hopper and go digging if you'd like. `PrivateFrameworks/DFR*.framework` and `AppKit.framework` will give you all the answers. 😄

[2016-11-07 23:53] avaidyam commented on #9
I think this issue is fixed with the recent commit 😉

[2016-11-07 23:55] robbertkl commented on #9
Thanks @avaidyam for the changes. I took the rounded edges and other window fixes (level, collectionBehavior, etc). It will be included in the next release.

I did not yet take the "stick to bottom" code, as we're planning something a bit different (though similar).

Next time, just send us a PR (for each change/feature separately), so we can apply it more easily and your name/commit gets into the

[2016-11-07 23:58] robbertkl commented on #16
@avaidyam Hehe, yes, that's how and where we found our friends for creating the Touch Bar display stream.

[2016-11-08 00:01] avaidyam commented on #9
@robbertkl My bad about not PR'ing it. Put simply, I mangled your codebase beyond belief for personal profit and decided I should give back the good fixes and keep the terrible sins to myself.

[2016-11-08 00:08] robbertkl commented on #9
No problem, thanks for the good fixes! Just packaged a [new release (v1.3)](https://github.com/bikkelbroeders/TouchBarDemoApp/releases/tag/v1.3) to get those fixes out there.

Now this issue can be closed!

[2016-11-08 00:08] #9 closed

[2016-11-08 00:14] robbertkl commented on #19
We'll consider a repo name change, but now that it's still getting linked a lot I think we'll leave it until it cools down a bit.

As for the _much cleaner_ API: I'm all for it! You're absolutely right by saying this will probably never go on the MAS. I'll keep this issue open so we can check it out later. In the meantime, feel free to send a PR if you can't wait :wink:.

[2016-11-08 00:18] robbertkl commented on #13
@dieterdemeyer The [latest release (v1.3)](https://github.com/bikkelbroeders/TouchBarDemoApp/releases/tag/v1.3) fixes this. The on-screen Touch Bar will now stay on screen, even in customization mode.

Please note that you will still have to drag new buttons to the bottom of the screen, even if your on-screen Touch Bar is floating on the top of your screen, since macOS expects the Touch Bar to be

[2016-11-08 00:22] robbertkl commented on #14
It looks like we will be switching to a different method for _Start at Login_, which should fix the issue you're having. I'll close this issue now in favor of #19, please track that issue for the progress.

[2016-11-08 00:22] #14 closed

[2016-11-08 07:51] dieterdemeyer commented on #14
@robbertkl , the application is indeed located in the `/Applications` folder.

[2016-11-08 08:45] ZXJING opened #21 "TouchBarDemoApp for IOS"
Do anyone develop TouchBarDemoApp for IOS to realize a cool touchbar function with large size and mobility when production on Mac?

[2016-11-08 09:28] calaidosCope commented on #18
Hi. The trigger IS important (for me)! While having a small screen it needs to be turned on and off, to gain space. And hey... ;) ... it is maybe a demo for you. For me it is a full flavored OS X-touch system and a really welcome add-on ... if i can revoke it without the hassle of a onscreen-keyboard or else... ;).

BTW: Using the touchbar on a touchscreen is IMHO more convenient "on the screen" a

[2016-11-08 09:29] NathanZhengNaixian opened #23 "need a function that could put the bar to the bottle or side."
we need a function that could put the bar to the bottle or side.

Love the App. Bless you

[2016-11-08 09:32] robbertkl commented on #23
Closed as duplicate of #3.

Please note we will never add the ability to put the Touch Bar on the side, since it's horizontal in orientation. But to the bottom, yes.

[2016-11-08 09:32] #23 closed

[2016-11-08 09:48] robbertkl commented on #21
Can you clarify? What are you exactly requesting? The title suggests an iOS app, but we already have this.

[2016-11-08 11:53] Randagio13 commented on #18
Hi! It's the same for the Logitech Wireless Solar Keyboard K760. 😢

[2016-11-08 13:02] Spamm3r opened #24 "[Feature] Sizable Touch Bar"
So can you make it? iy could be very handful that you will have full weight of monitor. Is that possible to implement?

[2016-11-08 16:24] adanosX opened #25 "Embedded below Dock (make it usable for non- Touch Bar MBPs, etc.)"
Practicality: can it be used everyday? It works great but needs to fit somewhere and moving the Dock from the centre is not ideal.

ideas ++

[2016-11-08 16:26] alxdxx commented on #25
Can also try if blacking out left + right of Touch bar can take out 5% of monitor and make the bar permanently occupying the bottom of screen

[2016-11-08 17:13] fedor1210 opened #26 "[Feature] Trackpad above Touch Bar on iPad"
It will be great if you add virtual trackpad on free space in app for iPad.

[2016-11-08 17:15] GoldenChaos opened #27 "[App Name Suggestion] TouchBoard"
Just gonna leave this here 👍

[2016-11-08 17:58] Nataniel4 opened #28 "Changing trigger key"
My keyboard doesn't have a Fn key and I can't see the touchbar. I'm reading the code but I never used Objetive-C, so I can't understand where I need to go for changing the keymap. Can you add an UI option or al least a config file to change it? Thx!

[2016-11-08 18:34] idcrook commented on #15
- [X]  1   Reboot your mac and log in
- [X]  2   Check if command-tab is working properly
- [X]  3   Start TouchBarServer (don't connect any iOS device yet)
- [ ]  4   Check again if command-tab is still working properly **NOPE!**
- [X]  5   Connect your iOS device running the Touch Bar app
- [ ]  6   Check once more if command-tab is working properly  **NOPE!**

Stopped the server. Command-Tab wo

[2016-11-08 18:47] robbertkl commented on #15
What version of TouchBarServer are you running? Can you try the latest ([1.3](https://github.com/bikkelbroeders/TouchBarDemoApp/releases/tag/v1.3))?

[2016-11-08 20:52] AndreasVerhoeven commented on #26
As much as we would like to do this, there is no way on macOS to simulate trackpad input at the moment.

[2016-11-08 20:52] #26 closed

[2016-11-08 21:15] AndreasVerhoeven commented on #25
As much as we would like to do this, it's currently not possible to position the dock offsetted from the screen edges in any way on macOS.

[2016-11-08 21:15] #25 closed

[2016-11-08 22:14] idcrook commented on #15
I had built from source using latest on master (commit 814bc601b4ab216e54754539b1074d6e2d53af20)

[2016-11-08 22:34] robbertkl commented on #28
Coming soon!

[2016-11-08 23:29] nakulbajaj commented on #3
Hi @esteszeke,

If you're up for it, you can try to install the modified version that I made which always centers the Touch Bar to the bottom. (attached) Of course, it will not update like the genuine version. Let me know if it works for you. Keep in mind that it will interfere with the dock if the dock is kept at the bottom.

Thanks

[TouchBarServer.app.zip](https://github.com/bikkelbroeders/Touc

[2016-11-08 23:54] fernandocani opened #29 "[Feature] - fn key diff"
Some way to the macOS app identifies when the FN key was pressed to dismiss the TouchBar, or activate the FN options from the system.

[2016-11-08 23:55] AndreasVerhoeven commented on #29
try `shift` + `FN`

[2016-11-09 00:03] ajburns651 commented on #29
Where is the option in settings to have it so that you hold fn and then lets say f7 to do the action, instead of just pressing it.

[2016-11-09 00:04] AndreasVerhoeven commented on #29
That's not there: this is just a demo app, not a fully featured application

[2016-11-09 00:05] AndreasVerhoeven commented on #29
If you keep on pressing `FN` btw, the Touch Bar will no disappear: it will only disappear **after** you released the `FN` key

[2016-11-09 00:15] fernandocani commented on #29
Andreas, i got that only disappear when released, but that's what i'm suggesting, if you hold for 2-3 secs and than release, it not dismiss the TouchBar, only if pressed normaly.

[2016-11-09 00:18] ajburns651 commented on #29
there used to be a setting in mac os before searia, and it was under keyboard but now it's not their so I cant change it back.

[2016-11-09 01:04] leo98gomez opened #30 "Suggestion/Request"
Could it be possible to resize TouchBar when installed on iPad? or/and be able to move it around and be able to put it on the center of the screen?
Also could it be possible to pair through Bluetooth as an option? thanks

[2016-11-09 02:18] alxdxx commented on #25
Could you implement the following?

Place the Touch Bar in the bottom where the Dock is normally (use auto-hide Dock for this example).

When mouse goes to bottom the Dock rises normally, : the Touch Bar disappears and reappears after Dock hides again.

You can do the transition progressive or fixed. Let me know what you think.

Touch Bar is a great addition to the OS for everyone (especially us w

[2016-11-09 10:41] d-s-T-n-y opened #31 "Scrolling in TouchBar?"
Hello,

a short question: Can you change the behavior for scrolling in the TouchBar?

Problem: I am in a mail in Apple Mail. I want to move the mail to a folder in my iCloud. I have many folders, so the field for moving a mail is scrollable. But I can only scroll if I tap and hold the cursor which results that the cursor will be moved left or right with the content. That is annoying, so it would b

[2016-11-09 10:44] AndreasVerhoeven commented on #31
Unfortunately, we have no control over the looks or the interactions on the Touch Bar, so there is not much we can do about that.

[2016-11-09 10:44] #31 closed

[2016-11-09 11:01] avaidyam commented on #31
@AndreasVerhoeven Actually this would be trivial to do. It would involve overriding `-wantsScrollEventsForSwipeTrackingOnAxis:` and in `-scrollWheel:` you would translate the event using `-trackSwipeEventWithOptions:dampenAmountThresholdMin:max:usingHandler:`.

As the handler is invoked, the `NSEventPhase` would help us translate from `-mouseDown:`, `-mouseDragged:`, and `-mouseUp:`, but we would

[2016-11-09 11:13] robbertkl commented on #31
Seems you have  a good idea on how to do this. Could you try it out and, if it works, send us a PR? We'd be happy to take a look.

[2016-11-09 11:14] avaidyam commented on #31
@robbertkl I'd love to but the earliest I can get to it would be next week on the account of exams. 👍

[2016-11-09 11:16] robbertkl commented on #12
Since we haven't received any other reports of this, I'm closing this for now.

If you still have this issue, you can reopen or submit a new issue. Be sure to include some more details about the error and your environment (like your versions of macOS, Xcode, iOS).

[2016-11-09 11:16] #12 closed

[2016-11-09 11:47] matthijsotterloo commented on #30
That would be a weird idea since on the MacBook the TouchBar is right above your keyboard.

[2016-11-09 20:28] humblehacker opened #32 "Use remainder of iPad screen as a touchpad"
Seems to be a natural extension. I found myself accidentally trying to move my screen pointer from the iPad after using the TouchBar for just a few minutes.

[2016-11-09 20:30] AndreasVerhoeven commented on #32
As much as we would like to do this, there is no way on macOS to simulate trackpad input at the moment.

See also #26

[2016-11-09 20:30] #32 closed

[2016-11-09 22:54] m4rouf commented on #28
This would be awesome – it would make it possible to assign a mouse button to touch bar :).

[2016-11-09 22:55] robbertkl commented on #28
No, actually we're just going to allow the option to change the Fn key to other modifier keys like shift or command.

[2016-11-09 22:55] m4rouf commented on #18
Yep I have the k760 too and it doesn't work

[2016-11-09 22:58] m4rouf commented on #28
Oh. Would it not be possible to set up a keystroke? Some mice can assign buttons to keystrokes but I don't think a single modifier key can be assigned on its own.

[2016-11-10 01:36] MarcoBrandao commented on #30
What a lovely app to make. Thank you guys for your skills and to make possible to us, older MacBook Pro users, the ability to have an idea on how great Touch Bar is. I think it just made bigger my desire to buy a new MacBook Pro as soon as po$$ible.

I have two wishes/requests, one is the ability to have the toolbar fit my display from side to side. My MacBook is not retina ready, so it should be

[2016-11-10 01:51] MarcoBrandao commented on #27
MagicTouch, MagicBoard, DarkBar, DarkBoard, MyBar, MyBoard, FunkyBar, MirrorBoard, MirrorBar

[2016-11-10 01:56] m4rouf commented on #27
Clickbar

[2016-11-10 02:01] MarcoBrandao commented on #3
Thank you for this tip, now I moved my dock to the left side of my screen.

[2016-11-10 06:14] slimnickyy opened #33 "iPhone 6s/7 Plus support?"
Haven’t tried but the instructions here on git say can be built to run on iPad. Can you confirm no support for the larger iPhones and If not is there a possibility a slightly shrunken but usable version can be done? Thank you

[2016-11-10 06:30] choongjoey commented on #33
i just installed it on my iphone 7 plus, confirmed it to be working but the display is a bit small.

[2016-11-10 10:32] par5ul1 opened #34 "Gesture for settings"
Hey, this is more of a customization thing but anyway you could make a settings tab for this which is accessible through a gesture like three finger tap and some settings I can think of are bringing the touchbar to the top portion of the screen and adding custom hex color to the empty area.

[2016-11-10 12:48] sonvirgo opened #35 "Pls support Elan Touchscreen"
I have an Elan Touchscreen and it works fine with 10.11.6 and 10.12.1 12B5657
Pls support
https://youtu.be/1FbQMclR82Y

BTW: very promising ....
Pls make it fully function
https://youtu.be/lso3yaW1k3E

[2016-11-10 13:35] sonvirgo commented on #28
me too, I can't activate the bar I have PC keyboard and Fn not activate it although my Fn key work with other F1-F12 key

[2016-11-10 20:45] joyciticonti commented on #24
First off, thank you very much for your work! Its awesome, I love this thing!

+1 on this request - it would be great, if the size wasnt fixed. But i assume it just renders the parameters given by macOS? So its not really that easy? (ive dug around the binary, but didnt find anything relevant to dimensions..

[2016-11-10 23:10] AndreasVerhoeven commented on #33
Works out of the box.

[2016-11-10 23:10] #33 closed

[2016-11-11 00:29] paaboo2013 opened #36 "dock图标的tooltip提示会被touchbar遮挡"
dock图标的tooltip提示会被touchbar遮挡
建议改进

[2016-11-11 00:30] paaboo2013 opened #37 "建议：可以拖拽touchbar到任意位置"
建议：可以拖拽touchbar到任意位置，方便使用

[2016-11-11 10:16] vincenzoa commented on #21
Hi. This APP is only for MacBook and not for iMac?
Keyboard without FN key

[2016-11-11 12:16] HZomor opened #39 "(Suggestion) wireless communication that doesn't require the cable"
having to using wireless connection would provide more usefulness, instant connectivity when the iOS device is near the laptop and ease of access

[2016-11-11 13:33] AndreasVerhoeven commented on #39
Unfortunately, then the touch bar would not have very good performance: a wireless connection has too much latency.

[2016-11-11 18:19] Fetiz opened #40 "(Suggestion) maybe can add an virtual touch keyboard under the touchbar without iPad huge display screen being wasted."

[2016-11-11 18:29] robbertkl commented on #40
Closed as duplicate of #7

[2016-11-11 18:29] #40 closed

[2016-11-11 21:39] dieterdemeyer commented on #39
There really is no way of making the wireless connection through bluetooth or WiFi work without performance or latency issues ?

[2016-11-11 21:41] robbertkl commented on #39
We've tried WiFi in a quick and dirty way, but since it didn't perform well, we decided to stick to USB to get the best possible demo app.

We might add WiFi in the future, but don't expect it to perform well.

[2016-11-12 01:19] m4rouf commented on #27
Menubar, dock, launchpad, mission control, dashboard

[2016-11-12 05:29] GoldenChaos commented on #39
@robbertkl what about bluetooth? I'd think that would be preferable to wifi.

[2016-11-12 10:37] MarcoBrandao commented on #27
m4rouf, don't be an ass.
And don't vote for you, it is not a great idea too.

[2016-11-12 10:43] MarcoBrandao opened #41 "[TIP] Customize Touch Bar"
When you have Touch Bar showing on your screen, go to the Finder and click on View.
There you you see Customize Touch Bar... menu.
Select it to see the Customize Touch Bar Window.
Drag the items to your Touch Bar.

Works flawlessly.

[2016-11-12 10:47] MarcoBrandao commented on #30
I would like to see a Check for Update option at the app Menu.

[2016-11-12 11:09] m4rouf commented on #27
MarcoBrandao, don't be a dick.
It was obviously a joke.

[2016-11-12 15:04] dieterdemeyer commented on #27
MagicBar, MacBar

[2016-11-12 18:24] kleerkoat commented on #41
great tip. how do you make the touchbar visible to drag items onto? mine disappears

edit: nvm, drag the items to the bottom of the screen. then they will show in the bar

[2016-11-12 20:25] eyeszack opened #42 "App Crashing when Print>Save as PDF operation tries to Replace file."
If I have TouchBar running while trying to **Print > Save as PDF** from Pages and the PDF already exists when I confirm that I want to replace the file the app will crash and close. The touch bar does NOT have to be on screen; just running is enough. I have confirmed that on the first save when file does not exist it works fine. I've also confirmed that if I close the TouchBar server the issue goe

[2016-11-12 20:30] robbertkl commented on #42
Just tried, but I'm unable to reproduce this using the steps you provided. If I understand correctly, the Pages app is crashing? Or the TouchBarServer app?

Could you try again after a system reboot?

[2016-11-12 23:52] MekVox opened #43 "Overlay"
Hi,

first of all congrats for Touch Bar Server App, it’s just amazing.

How can I overlay the touch bar?
It would be great to make it like a second dock!

Thanks, M

[2016-11-12 23:53] MekVox opened #44 "Overclock"
Hi,

when I leave on the touch bar and I put the monitor in stop the CPU goes overclock.
If I quit the Touch Bar Server app, the CPU goes at its normal value.

Could you fix it?
Thanks, M

[2016-11-13 03:07] daiweilam commented on #37
只要先按fn讓touchbar隱藏，把滑鼠拖到想放touchbar的位置，再按fn，就可以放到其他地方囉

[2016-11-13 05:32] julianschiavo commented on #27
• iBar

• Apple Bar

[2016-11-13 15:12] sonvirgo opened #45 "iTunes randomly crash"
When controlling iTunes with the Touch Bar, minimize, reopen, close iTunes, move back and fort.
iTunes suddenly crash
https://youtu.be/_7t46FPuYN4

[2016-11-13 15:54] robbertkl commented on #45
We do not control how applications deal with the Touch Bar or Touch Bar input. If iTunes crashes because of Touch Bar inputs, this is most probably caused by a bug in iTunes.

[2016-11-13 15:54] #45 closed

[2016-11-13 16:12] sonvirgo commented on #45
yes I agree, it is very likely as Sierra is not so mature as El Capitan

[2016-11-13 18:56] dieterdemeyer opened #46 "Fn-toggle stops working after some time"
I'm afraid this issue has returned.

I'm using the latest version of TouchBarServer and I've noticed that the Fn key stops working after some time. It takes a lot longer now before it stops working (days even)..

[2016-11-14 01:52] eyeszack commented on #42
Hello,

The Pages app is the one that crashes. I did a system reboot and I am still able to reproduce.

[2016-11-14 02:01] eyeszack commented on #42
P.S. If it helps at all I noticed this happens with Numbers and Keynote also, but not with TextEdit or other apps. So maybe it's specific to iWork or something those apps use.

[2016-11-14 04:27] sonvirgo commented on #46
me too

[2016-11-14 14:54] MekVox commented on #46
me too

[2016-11-14 15:34] cgdmnky opened #47 "On-Screen Touchbar frozen after sleep/close lid - reopen lid"
I've been using the onscreen touchbar and it works as expected. For some reason or another, if I lock the screen, close the lid/reopen, or just awaken from sleep, the on screen bar is still there as expected but it is frozen to the last operation it had. The only solution is to exit touchBarServer application and restart.

[2016-11-14 16:59] shaggyb50 opened #48 "Version info in app is misleading"
Looking at the version on the releases page shows it is version 1.3. However, the app seems to indicate it is version 1.0. Is this done on purpose?

[2016-11-14 23:26] robbertkl commented on #48
You're absolutely right. We just did some releases on github, but never bothered to update the version number in the app.

We'll start doing this with all our future releases.

[2016-11-14 23:26] #48 closed

[2016-11-15 01:40] duraidabdul commented on #47
I'm running into the same problem

[2016-11-15 02:59] sonvirgo opened #49 "Lengthen the Bar for big screen laptop 15.6 inch"
Please how do I make the Bar wider to fit the whole width of my 15.6 inch screen?
Thank you

[2016-11-15 09:39] robbertkl opened #50 "Holding Fn key on virtual keyboard does not change Touch Bar"
If you hold the Fn key on your physical keyboard, it changes the Touch Bar to show the function keys (this behavior can be modified in System Preferences > Keyboard). However, if you do this on the virtual keyboard on your iOS device, it does not do this.

The same is true for the macOS Keyboard Viewer. Holding the Fn key there does _not_ change what the Touch Bar shows. It sends a proper Fn keydo

[2016-11-15 09:39] robbertkl commented on #50
Mentioning @avaidyam since he also checked out the DFR\* frameworks and might have a clue.

[2016-11-15 09:53] robbertkl commented on #7
We've just added a virtual keyboard to the iOS app! Check out the [latest release](https://github.com/bikkelbroeders/TouchBarDemoApp/releases/latest) and let us know what you think.

See the release text about why we haven't added a virtual trackpad, which is similar to what @GoldenChaos said above. We do not have plans for any custom widgets or functionality for the remainder of the screen, as th

[2016-11-15 09:53] #7 closed

[2016-11-15 09:59] robbertkl commented on #30
Please note this is not a generic suggestion/request issue. Please submit separate issues (with an _appropriate title_) for each suggestion or idea, after you search the issues list to see if it's there already, of course.

Closing this issue now.

@leo98gomez Touch Bar alignment options for remote Touch Bar clients are now included in the [latest release](https://github.com/bikkelbroeders/TouchBa

[2016-11-15 09:59] #30 closed

[2016-11-15 10:02] robbertkl commented on #37
Please submit issues in English.

The [latest release](https://github.com/bikkelbroeders/TouchBarDemoApp/releases/latest) adds alignment options for iOS clients.

[2016-11-15 10:02] #37 closed

[2016-11-15 10:02] robbertkl commented on #36
Please submit issues in English.

[2016-11-15 10:02] #36 closed

[2016-11-15 10:14] robbertkl commented on #34
We've decided to keep the iOS app as simple as possible with absolutely _no_ settings. That being said, the settings for the remote Touch Bar clients will be controlled through the server's status menu.

Check out the [latest release](https://github.com/bikkelbroeders/TouchBarDemoApp/releases/latest) where you can already align the Touch Bar to different parts of the iOS screen!

[2016-11-15 10:14] #34 closed

[2016-11-15 10:43] ghost commented on #31
@avaidyam I would love to see your implementation 👍 It bothers me always to scroll with clicked mouse instead of two-finger gesture 🙈

[2016-11-15 10:59] robbertkl commented on #28
Just added this!

Either download the source and build the Mac app yourself, or wait for the v1.5 release where this will be included in (along with other features).

[2016-11-15 10:59] #28 closed

[2016-11-15 11:03] m4rouf commented on #28
Awesome - thanks!
You should set up a donation page btw

[2016-11-15 13:49] par5ul1 commented on #34
Hey thanks for the reply. How about changing the black color. Can you add that in the settings as well? Just a normal hex color picker would be nice. Thanks.

[2016-11-15 13:57] par5ul1 commented on #26
could [this](http://stackoverflow.com/questions/21082362/how-to-send-raw-multitouch-trackpad-data-under-mac-os-x) be of any help? Sorry if it's useless but I found this and thought maybe it would be useful.

[2016-11-15 15:51] cgdmnky opened #51 "fn toggle to show touch bar conflicts with macOS fn toggle to show fn keys."
So I have the onscreen touchbar just where i like it. I want to press fn key to show the F1-F9 keys on the onscreen touchbar. I can hold down the fn key to see them but releasing the button will trigger your code to hide the onscreen touchbar.

[2016-11-15 15:51] cgdmnky commented on #49
I would like this too.

[2016-11-15 17:43] avaidyam commented on #50
It does have this behavior for the on-screen touchbar, doesn't it? I can take a look at it but I don't have any iOS devices.

[2016-11-15 19:56] usr-sse2 commented on #41
Doesn't work at all! Tried touch bar in Xcode, TouchBarLauncher and TouchBarServer, the bar is visible but doesn't accept items – they are dragged below the touch bar...

[2016-11-15 21:44] usr-sse2 commented on #41
If we set the window level to CGShieldingWindowLevel(), then it remains visible. But we should drag items not onto the bar, but to the bottom of the screen to place not occupied by the touch bar.

[2016-11-15 22:42] robbertkl commented on #50
Well, the Touch Bar works fine, at least when you use the physical keyboard, not when using our iOS keyboard or the macOS keyboard viewer. Just open the keyboard viewer and display the on-screen Touch Bar and try holding Fn on the keyboard viewer. No iPad needed (it does exactly the same as the keyboard viewer anyway).

[2016-11-15 22:45] avaidyam commented on #50
Ah, I see what you mean. Unfortunately, I think that's a limitation of the emulated keyboard(s) -- when pressing the Fn key, it's not sending a `flags changed` event but when another key is pressed, it then sends the equivalent `Fn+Key` event. I can look into that more later. _Exam in 15 minutes._ 😂

[2016-11-16 00:15] robbertkl commented on #50
Actually it _does_ generate a flags changed event. That's why toggling the on-screen Touch Bar does work, even in the keyboard viewer and our virtual iPad keyboard.

The physical keyboard generates the exact same flags changed event, except somehow it also "notifies" the Touch Bar agent to show the function row (or whatever you've setup to show when holding Fn). Perhaps this is done by the TouchBa

[2016-11-16 02:14] avaidyam commented on #50
Ah I see. I'll take a look at it now, _on account of me probably acing that exam!_ I'll report back in a bit, lol. 😆

[2016-11-16 02:27] avaidyam commented on #50
So I believe it has to do with `TouchBarAgent.FnKey` and `TouchBarAgent.UIServer`, but the `TouchBarAgent` binary is primarily Swift. Hopper doesn't do a great job of decompiling into Swift right now, so that's going to be very hard.

[2016-11-16 02:32] smartjx opened #52 "Cool!! Hope this works on windows 10 and support Visual Studio as well"
Cool!! Hope this works on windows 10 and support Visual Studio as well

[2016-11-16 03:33] sonvirgo commented on #46
found this, always work https://red-sweater.com/touche/

[2016-11-16 03:34] sonvirgo commented on #50
found this, always work https://red-sweater.com/touche/

[2016-11-16 04:01] avaidyam commented on #50
@sonvirgo Disassembling that app shows nothing new or different from this one.
@robbertkl We could skip a step or two and use the Xcode method which is the `IDE*Simulator` class from the `DRFSupport.framework`.

[2016-11-16 06:22] MekVox commented on #46
Thanks 😊

[2016-11-16 07:45] usr-sse2 commented on #39
You would drain your iOS device battery by keeping the screen turned on when it's not connected to a cable.

[2016-11-16 09:58] robbertkl commented on #50
@sonvirgo That app has exactly the same behavior when holding Fn on the keyboard viewer: it does _not_ work.

@avaidyam Yeah, we also ran into the Hopper/Swift issue. How would the "Xcode method" help here? Even Xcode's "Show Touch Bar" does not show the function row when holding Fn on the keyboard viewer.

[2016-11-16 09:59] robbertkl commented on #52
The Touch Bar is an Apple product, so no: it won't work on Windows.

[2016-11-16 09:59] #52 closed

[2016-11-16 10:05] 17wongam1 opened #53 "Emoji interface does not work in Touch Bar."
When the emoji button is pressed, the system only reports the recent emojis instead of a full list like the MacBook Pro Touch Bar.
![fullsizeoutput_17b8](https://cloud.githubusercontent.com/assets/11416075/20342851/0c1386a8-ac27-11e6-8baa-3ecd212bf0ac.jpeg)
This is what the emoji view **should** be like
[http://i1.wp.com/geekirc.me/wp-content/uploads/2016/10/Touch-Bar-emoji.jpg](url)

[2016-11-16 10:08] robbertkl commented on #53
We do not make the content of the Touch Bar, this is controlled by macOS. Apple did not yet release the emoji viewer that they demonstrated during the keynote, so you'll have to wait for that.

[2016-11-16 10:08] #53 closed

[2016-11-16 10:11] robbertkl commented on #51
Actually, after holding down Fn, as soon as your click one of the F1-F12 keys, the Touch Bar toggling is cancelled. This means that if you:
1. hold Fn
2. click F1 on the Touch Bar
3. release Fn

then the Touch Bar will _not_ disappear.

That being said, we will make some changes soon like adding a timeout on holding the Fn key so that the Touch Bar only toggles when it will be pressed quickly, lik

[2016-11-16 12:00] moriwang opened #54 "TouchBarServer.app V1.4 crash when plug in iPad"
I tested the previous version, the touchbarserver works fine with iPad.
But the latest version will crash once I plug in my iPad opening Touch Bar App.

First I open both Touch Bar App and Touchbarserver in my Mac.
The app shows "Please connect this device to your Mac and start TouchBarServer..."
The server works on the top of screen.
Then I plug in my iPad, the server icon disappear and the iPad

[2016-11-16 12:30] robbertkl commented on #54
Sorry to hear this @moriwang, let's get to the bottom of this. Can you fetch us the crash log for TouchBarServer? You can find instructions on where to find crashlogs [here](https://marinersoftware.deskpro.com/kb/articles/how-to-retrieve-crash-logs-in-os-x).

[2016-11-16 13:57] cgdmnky commented on #51
Sounds good. Thanks for the response.

[2016-11-16 14:35] smartjx commented on #54
I got the same issue here. Please find my crashlog

[TouchBarServer_2016-11-16-222601_xiangs-iMac.crash.zip](https://github.com/bikkelbroeders/TouchBarDemoApp/files/594877/TouchBarServer_2016-11-16-222601_xiangs-iMac.crash.zip)

[2016-11-16 15:31] Fetiz commented on #54
I get this status too.
After I plug my iPad Air 2, Touchbarserver app disappear on the menu bar.
But the process still working and I can't reopen the touchbarserver app.
waiting for you fix this crash. the log is in the
[TouchBarServer_2016-11-16-232343_MacBook-Pro.crash.zip](https://github.com/bikkelbroeders/TouchBarDemoApp/files/595036/TouchBarServer_2016-11-16-232343_MacBook-Pro.crash.zip)

[2016-11-16 15:40] smartjx commented on #54
1.Open System Preferences from the Apple menu ().
2.Click the Security & Privacy icon.
3.Select the Privacy tab.
4.Select Accessibility from the list on the left side of the Privacy pane.
5.Click the lock icon in the lower left corner of the window and enter an admin account and password when prompted.
6. Add TouchBarServer and select the checkbox next to the name allow requesting access.

Now it

[2016-11-16 19:23] robbertkl commented on #54
After inspecting the crashlogs (thanks for those!) we've found an inconsistency/bug with certain special keyboard layouts. Can you tell me if the [latest release](https://github.com/bikkelbroeders/TouchBarDemoApp/releases/latest) works again?

@smartjx Your suggestion does not make sense, as the accessibility setting is no longer needed and also has nothing to do with the remote iOS Touch Bar clie

[2016-11-16 19:34] robbertkl commented on #46
Could you check again with the latest version? Not much has changed for how the modifier presses are handled, but it does allow changing the toggle key.

Perhaps you could use control as a modifier key and see if it stops working after a while as well?

Also, I'm curious how to "make it work again". Does it require quitting and restarting TouchBarServer, or can you also disable and then re-enable

[2016-11-16 20:53] eduardomart opened #55 "I already am on 10.12.1 and the app complains that I need this version to run it 🙄"

[2016-11-16 20:56] robbertkl commented on #55
Please read this project's README file carefully. You will need a specific build of 10.12.1: build 16B2657.

[2016-11-16 20:56] #55 closed

[2016-11-16 21:08] robbertkl commented on #28
v1.5 is here, so you can just grab the release version of the server instead of building yourself.

@m4rouf nice suggestion; any recommendations for a github donation service?

[2016-11-16 21:17] robbertkl commented on #47
We'd like to make a fix for this, but we haven't been able to reproduce this ourselves.

Is there any additional information you can provide? Does it happen every time? Do you have to wait a bit after closing the lid, or can you reopen the lid instantly? Maybe you can provide the output of running this command in the Terminal app:

[code]

Or perhaps anything else that you can think of that's spec

[2016-11-16 21:45] cgdmnky commented on #47
Ok so here is what I'm seeing. When I have the MacBook Pro connected to an external monitor as a second screen... and i close the lid and reopen it after lets say 10 seconds of it being closed, the issue doesn't happen. Touch Bar onscreen works! When I disconnect the monitor and simple use the MacBook Pro (Late 2013) and I do the same closing of lid and reopening, then the touchbar is frozen and w

[2016-11-16 23:38] jacob-green9 opened #56 "IOS App Not Working... Correctly"
I am using Xcode Version 8, and IOS 10.1.1 on an iPhone 7. I successfully installed the IOS app onto my phone, but instead of just a virtual copy of the touch bar, the app provides me with a picture of the computer, a working keyboard (linking to my computer). Is there anything I am doing wrong or is there a way to fix this so the computer only shows me the touch bar? Thanks pls respond fast if yo

[2016-11-16 23:39] AndreasVerhoeven commented on #56
Hi Jacob,

If you check the menu item of the macOS app, there's an option to toggle between the different modes: one of them is "Touch Bar" only

[2016-11-16 23:41] jacob-green9 commented on #56
Ahh... thanks so much!

[2016-11-16 23:41] #56 closed

[2016-11-17 00:11] Fetiz opened #57 "Display bug on the Touchbar app"
When I update the touchbarserver to 1.5 and use iPad  Air 2 to active all the features, the virtual keyboard display seems been cut off.
I tried to change the align setting, doesn't work.
Please check.
![img_0182](https://cloud.githubusercontent.com/assets/20578132/20371044/128e8408-ac9d-11e6-964e-a40b343283eb.PNG)

[2016-11-17 00:26] moriwang commented on #54
@robbertkl  It works. Thanks for your work!

[2016-11-17 00:30] #54 closed

[2016-11-17 00:30] MekVox commented on #46
Hello,

are you one of the developer?

I’ve download the 1.4 version two days ago.
It works fine, thanks!
1. I still can’t change the toggle key (no setting).
2. The touch bar still is not a real dock, so all the windows opened go above it.

Before the update when the touch bar server app didn’t work, I usually quit all the process relative to “touch bar” in activity monitor, or I simply restarted

[2016-11-17 00:34] moriwang commented on #57
I meet the same problem.

[2016-11-17 00:40] robbertkl commented on #46
Yes, @MekVox, I'm 1 of the developers. Let's please stay on topic and keep this issue about the Fn key not working anymore after some time, instead of other issues/feature requests. Please check the [releases page](https://github.com/bikkelbroeders/TouchBarDemoApp/releases) for changelogs of each release. As you can see, v1.4 did not add the features you're asking about, we never claimed it did. A

[2016-11-17 00:58] robbertkl commented on #57
Unfortunately, this is a know iOS bug with the webview we're using for the keyboard. It usually happens when rotating your device. Force quit the app and restart it when the iPad is rotated to the orientation you want to use it in, and it should be fine again.

We know a possible fix for this, but it's gonna take some time.

[2016-11-17 01:30] robbertkl commented on #51
We've just fixed this. Touch Bar toggles will now be ignored if:
- A mouse click arrives during the toggle key keypress
- The keypress takes too long (holding down the toggle key instead of pressing it)

Build the latest TouchBarServer from source code, or wait for the next release (1.6) which will include these fixes.

[2016-11-17 01:30] #51 closed

[2016-11-17 01:31] robbertkl commented on #29
We've just fixed this. Touch Bar toggles will now be ignored if:
- A mouse click arrives during the toggle key keypress
- The keypress takes too long (holding down the toggle key instead of pressing it)

Build the latest TouchBarServer from source code, or wait for the next release (1.6) which will include these improvements.

[2016-11-17 01:31] #29 closed

[2016-11-17 03:59] DonSwet opened #58 "On the virtual keyboard, Cmd+Mouse button shortcuts don't work"
For example:
- Cmd+Dragging items in the menu bar
- Cmd+Clicking to add individual items to a batch selection

Control+Clicking also doesn't work, but there's no surprise why THAT wasn't discovered early.

[2016-11-17 05:13] estebanedcm opened #59 "please, i want yo use it on iPhone 6s"
hi, this app is really awesome
I could install it on my iphone 6s but it looks very small, I would like to see only the keyboard with the touch bar like this
![touchbar](https://cloud.githubusercontent.com/assets/22165907/20377098/460c98c4-ac6b-11e6-9128-4490896335fe.png)

[2016-11-17 06:25] MekVox commented on #46
Ok thanks!

Yes for your last question the answer is yes 😊

[2016-11-17 09:11] MekVox commented on #44
This issue seems to be fixed with the 1.5 version, thanks!  🙌

[2016-11-17 10:10] robbertkl commented on #44
Great!

[2016-11-17 10:10] #44 closed

[2016-11-17 11:36] robbertkl commented on #59
Check out the status menu, like this:

<img width="588" alt="screenshot" src="https://cloud.githubusercontent.com/assets/5704510/20387844/584ba5f0-acc2-11e6-8e6e-e97b05a1f2e4.png">

[2016-11-17 11:36] #59 closed

[2016-11-17 14:45] robbertkl commented on #46
Just committed a possible fix for this. Build the latest source or wait until the v1.6 release.

[2016-11-17 15:41] MekVox commented on #46
Fantastic! Thanks again!

Are you going to improve the touch bar with the overlay function?

Thanks,
Mek Vox
Video Editor

mekvox@gmail.com mailto:antonellimattia@gmail.com

ELSE TEAR PRODUCTION
www.elsetearproduction.com http://www.elsetearproduction.com/

[2016-11-17 16:10] kty0113 opened #60 "virtual keyboard is great! but"
track pad function is more useful, i think.

[2016-11-17 16:12] robbertkl commented on #60
We won't add a trackpad for now, here's why: https://github.com/bikkelbroeders/TouchBarDemoApp/releases/tag/v1.4

Also, this is a demo app to show off the touch bar, not to become a generic controller for your Mac.

[2016-11-17 16:12] #60 closed

[2016-11-17 16:42] MekVox commented on #44
I'm sorry, the issue still exist.

When I turn off the monitor the fans go fast.

[2016-11-17 18:31] par5ul1 opened #61 "Does this work with third party apps?"
Hello. So I have just gotten the new FCPX 10.3 but the touch bar does not seem to adapt to it. Is that something to consider? Is this app a port of the touch bar or just a recreation.

[2016-11-17 18:35] AndreasVerhoeven commented on #61
This app acts like a mirror of the TouchBar in OSX: we get the image OSX will normally show for the TouchBar and show it on an iPad (or a popup window).

If an application doesn't show anything on the TouchBar, it simply is not supporting it. From what I read, FCPX 10.3 will only get TouchBar support in 2017.

[2016-11-17 18:35] #61 closed

[2016-11-17 18:37] AndreasVerhoeven commented on #21
There now is an option to modify the hotkey used in the menu.

[2016-11-17 18:39] vincenzoa commented on #21
Great!

[2016-11-17 19:10] ApplePerson opened #62 "[Feature/Bug] Allow Different Shortcuts/Fix Special Key activation"
Current version allows the user to toggle the Touch Bar using a single "special" key. When using the selected special key, the App will ignore the press if a different key is pressed in combination, it will not ignore the press of the special key when you either click or use an actual function key (e.g. F12), this causes the Touch Bar to appear at inconvenient times. Either this should be fixed or

[2016-11-17 20:17] par5ul1 opened #63 "[IDEA] Touch ID for iPad's with Touch ID."
Hey, do you think you could unlock the Mac with touch ID like MacID but have it built in? I just saw the Touch Bar on my iPad and the placement of the home button was exactly like the touch Id on the new mac. So do you think that would be a possibility?
Also, thanks for the AMAZING app.

[2016-11-17 20:40] #21 closed

[2016-11-17 21:07] robbertkl commented on #62
We've already committed some fixes for this:
- there is now a timeout on the trigger key, so that it only toggles the Touch Bar if you're quickly pressing the key, not holding it.
- a toggle is now also cancelled by mouse clicks; that means that if you set the toggle key to command and the cmd+click on something, it won't toggle the Touch Bar

To get these changes, please download and build the la

[2016-11-17 21:28] robbertkl commented on #63
I'm sorry, this won't be possible. Thanks for the suggestion, though! Glad to hear you enjoy the app.

[2016-11-17 21:28] #63 closed

[2016-11-17 21:57] robbertkl commented on #58
Confirmed. No idea why, yet.

[2016-11-18 01:28] BackWorld opened #64 "ld: framework not found DFRFoundation"
when I run the SmartBarServer project, I got the bug of "ld: framework not found DFRFoundation"

[2016-11-18 01:28] BackWorld commented on #64
in Xcode8.0

[2016-11-18 02:21] GoldenChaos opened #65 "Automatic updates"
Not sure how this could work with the iOS app (TestFlight distribution?), but would definitely be welcome for the Mac client.

[2016-11-18 02:23] DesmondY commented on #64
Make sure you have macOS Sierra 10.12.1 build 16B2657 installed, which adds support for the Touch Bar to macOS.

 10.12.1 build 16B2555 does not have Touch Bar support

It seem that your os version is  10.12.1 build 16B2555

[2016-11-18 04:05] sonvirgo commented on #62
I downloaded the latest source and build it but it not work?
[Debug.zip](https://github.com/bikkelbroeders/TouchBarDemoApp/files/599031/Debug.zip)

[2016-11-18 08:45] BackWorld commented on #64
thanks a lot, I do resolved that problem when I updated my macOS version to latest.

[2016-11-18 08:45] #64 closed

[2016-11-18 10:12] robbertkl commented on #62
@sonvirgo What does not work? Please give us some more information.

[2016-11-18 12:13] MarcoBrandao commented on #65
Please, is it possible to have an About... item in the menu with the version number?

[2016-11-18 17:37] GoldenChaos opened #66 "Run client in background on iOS to reduce input lag during multitasking"
Having the client reconnect every time it launches causes significant input lag when using multitasking on the connected iOS device.

[2016-11-18 17:38] robbertkl commented on #66
We've been having issues with the state of the USB connection when doing this, that's why we decided to break down the connection as soon as the app goes into background.

[2016-11-19 14:20] stealdre opened #67 "what is this fail?"
Why did you make the touch bar so small??? It was better before when the bar was displayed in full screen! now we have a macbook picture with a small touch bar... That so bad...

[2016-11-19 14:22] robbertkl commented on #67
Why don't you check out the settings in the status menu and change it to the mode you want:

<img width="588" alt="screenshot" src="https://cloud.githubusercontent.com/assets/5704510/20387844/584ba5f0-acc2-11e6-8e6e-e97b05a1f2e4.png">

[2016-11-19 14:22] #67 closed

[2016-11-19 17:52] pbeneteau commented on #67
I tried this but it doesn't work for me.

[2016-11-19 17:54] robbertkl commented on #67
What doesn't work?

[2016-11-20 12:07] sonvirgo commented on #62
Hot key activation not work for any key

[2016-11-20 12:09] robbertkl commented on #62
What key did you set it to and is not working? Please clarify as much as possible, so we can take a look.

[2016-11-20 12:10] sonvirgo commented on #62
Have you tried my attached build in the debug.zip file?

[2016-11-20 12:16] robbertkl commented on #62
No, for security reasons it's a very bad idea to run compiled code from strangers. If you tell me which commit you're on, I can build it myself.

[2016-11-20 14:39] GoldenChaos opened #68 "Implement iOS 10 keyboard click sounds on virtual keyboard"
iOS 10 introduces new keyboard click sounds with different clicks for different types of keys, which makes touch typing a lot easier.

[2016-11-20 14:48] robbertkl commented on #68
Nice suggestion, will definitely do this!

[2016-11-20 15:01] GoldenChaos opened #69 "Keyboard clicks can be too soft to hear without turning volume up too high"
It seems like the virtual keyboard is using the system ringer volume. Anecdotally, I tend to want to make the keyboard clicks as loud as possible, but on an iPad Pro that means calls ring *way* too loud.

Perhaps use the system volume instead of the ringer volume?

[2016-11-20 15:07] GoldenChaos opened #70 "Have client app function as a standard USB keyboard (with function keys) when server app is not running"
Useful for those times where you've got to restart or log out for any reason.

[2016-11-20 15:08] robbertkl commented on #69
We use `AudioServicesPlaySystemSound()`, for which the documentation includes:

So this won't be possible, unless we change the way we play the audio altogether.

[2016-11-20 15:11] robbertkl commented on #70
I'm sorry, it's not possible for an (non-jailbroken) iPad to act as a USB keyboard. There are ways to mimic a USB device, but they will require a (root) installation and still have a server running, like [this](https://github.com/unbit/foohid). This is not something we want.

Also, remember that this is still a TOUCH BAR demo app, not a generic keyboard replacement (even if some people are using i

[2016-11-20 15:11] #70 closed

[2016-11-20 15:13] GoldenChaos opened #71 "Area to left/right of touch bar on virtual keyboard layout should trigger esc/siri"
On actual touch bars this area is, in fact, capacitive - at east on the left side, where the empty space can be used to trigger the escape key. It seems like the display is only cut short for symmetry.

Since there's no touch ID sensor on this virtual keyboard, my suggestion is to have both edge areas trigger their respective edge buttons - so escape and Siri by default.

[2016-11-20 15:17] GoldenChaos opened #72 "Delay for caps lock key"
Standard Mac keyboards have a built-in delay that prevent the user from accidentally engaging caps lock.

[2016-11-20 16:54] sonvirgo commented on #62
'To get these changes, please download and build the latest source code. Alternatively, you can wait for the next release (v1.6) which will include these fixes.'
commit 5268ec5a6700dca2243368d718d96702904bbada

[2016-11-20 17:00] robbertkl commented on #62
That commit works fine for me, but I don't know what to look for, since you still haven't explained what exactly doesn't work for you, and with what settings.

[2016-11-20 19:08] #57 closed

[2016-11-20 19:08] #68 closed

[2016-11-20 19:08] #71 closed

[2016-11-20 19:08] #72 closed

[2016-11-20 19:10] robbertkl commented on #72
Fixed in the [latest release](https://github.com/bikkelbroeders/TouchBarDemoApp/releases/latest)!

[2016-11-20 19:11] robbertkl commented on #71
Fixed in the [latest release](https://github.com/bikkelbroeders/TouchBarDemoApp/releases/latest)!

[2016-11-20 19:11] robbertkl commented on #68
Fixed in the [latest release](https://github.com/bikkelbroeders/TouchBarDemoApp/releases/latest)!

[2016-11-20 19:11] robbertkl commented on #57
Fixed in the [latest release](https://github.com/bikkelbroeders/TouchBarDemoApp/releases/latest)!

[2016-11-20 20:45] GoldenChaos opened #73 "Replace keyboard symbols with accurate keys"
I'm not sure what's up with the different symbol keys (delete, return, caps lock, shift, tab, alt), but their symbols for the most part look strange and/or need to be positioned properly.

Some, like delete, tab, and alt, are not typically represented by any symbol at all on modern Mac keyboards. Might just be easiest to copy the MBP keyboard design for those keys?

[2016-11-20 20:46] AndreasVerhoeven commented on #73
They mimick the exact key cap as in the macOS KeyViewer.

[2016-11-20 20:51] GoldenChaos commented on #73
Even then, the Delete, Caps Lock, Shift, Return, and Alt key symbols are not vertically centered properly. They're also not using San Francisco's symbol set, it seems? Shot of the KeyViewer:

![screen shot 2016-11-20 at 3 51 32 pm](https://cloud.githubusercontent.com/assets/1396727/20466050/3edfc3de-af39-11e6-8bae-68422ff0aeba.png)

It's a minor thing but it's been driving me nuts, haha. The nativ

[2016-11-20 22:00] latenitefilms commented on #61
@par5ul1 - Based off this code, I've added Touch Bar support to [FCPX Hacks](https://latenitefilms.com/blog/final-cut-pro-hacks/), which might be of interest?

[2016-11-21 05:22] sonvirgo commented on #62
I build it just with downloaded setting, I try all short cut key Fn, Ctl, Alt, Option, none work

[2016-11-21 11:55] nickaroot opened #74 "Wireless instead of USB connection"
Is it really to add a list with all clients on Wi-Fi and use Wi-Fi network (like 192.168.0.5:8395 - Mac client) for iOS app?

[2016-11-21 13:10] AndreasVerhoeven commented on #74
We tried Wi-Fi, but it had too much noticeable latency to be usable.

[2016-11-21 13:10] #74 closed

[2016-11-21 18:13] par5ul1 commented on #61
@latenitefilms thanks, I have never used FCPX Hacks. What exactly does this do? Also to get the TouchBar support do I just download the new version?
P.S. The app does (did) work with FCPX, I just need to open it with the app open in order for it to recognize it.

[2016-11-21 21:09] leo98gomez opened #75 "[Request] Use Tuchpad from iPad"
In the newest update there are new display options for the Touchbar App. There are ones that show the keyboard and we are able to use the keyboard to type in out MacBooks , then theres some that also show the trackpad. Would it be possible to make the trackpad usable just like the keyboard?

[2016-11-21 21:10] AndreasVerhoeven commented on #75
Unfortunately, that isn't possible. There are no APIs in macOS to simulate the track pad.

[2016-11-21 21:10] #75 closed

[2016-11-21 21:15] leo98gomez commented on #75
could it be possible to access the TouchBar settings to rearrange the shortcuts, etc. Just like on a MacBook Pro 2016?

[2016-11-21 21:15] leo98gomez commented on #75
@AndreasVerhoeven

[2016-11-21 21:17] AndreasVerhoeven commented on #75
Yes, this has been answered already in https://github.com/bikkelbroeders/TouchBarDemoApp/issues/13

[2016-11-21 21:20] leo98gomez commented on #75
cool thank you

[2016-11-21 23:26] latenitefilms commented on #61
@par5ul1 - It does a LOT of stuff now, see the blog post for details. Yes, the latest version has Touch Bar support. It's still very much a work-in-progress, but I'm constantly updating it. Any ideas or suggestions welcome!

[2016-11-22 20:01] gitguys commented on #62
No hot keys working for me either.  Tried them all and nothing happens.  I'm just not able to use your app because of this issue.  I'm using Sierra 10.12.1 (16B2657) on an early 2011 MacBook Pro 17" if that helps.

 I just tried the Touché 1.0.1 app (https://red-sweater.com/touche/) and it works great (with keyboard shortcut: control-option-command-spacebar) or just by clicking the Touché app itse

[2016-11-23 08:38] sonvirgo commented on #62
Why logout and log back on should work?
It doesn't work for me though.
For the pre-built release, I have to run a script to activate Touch bar because I use PC keyboard without Apple compatible Fn key

[2016-11-23 09:20] robbertkl commented on #62
@sonvirgo Could you try v1.5 again if it's still working, or if that one also stopped working now?

[2016-11-23 09:46] robbertkl commented on #62
@sonvirgo Can you check one more thing for us? If you open the Keyboard Viewer app (see [here](https://www.engadget.com/2014/03/11/mac-101-using-the-keyboard-viewer-in-os-x-mavericks/) for how to do that), do you see the key being highlighted when you press the `A` key on your physical keyboard? And how about if you press the `shift` key on your physical keyboard?

[2016-11-23 10:51] sonvirgo commented on #62
@robbertkl  V1.3 upto V1.5 work
The A key and shift work well with my PC keyboard
This is the screen capture
https://drive.google.com/file/d/0B1KNH_A4Fos6eDRNUXBHMllMOGc/view?usp=sharing

[2016-11-23 11:19] robbertkl commented on #62
OK, that confirms that these are actually 2 separate issues. I just had the issue myself, but with me the keyboard viewer key highlighting was broken as well, at least for regular keys. Also none of the older versions were working anymore. This means there was an issue with the machine state and not so much with the recent code changes. I could not figure out what the cause was for this issue, but

[2016-11-23 13:44] sonvirgo commented on #62
I can not clone the git

Cloning into 'TouchBarDemoApp'...
Permission denied (publickey).
fatal: Could not read from remote repository.

Please make sure you have the correct access rights
and the repository exists.

[2016-11-23 13:46] robbertkl commented on #62
OK, please try this git clone instead:

[code]

[2016-11-23 14:11] sonvirgo commented on #62
Found a working commit but I make a mistake, I enter 'git bisect bad' twice.
Can I so it from the beginning?
suns-MacBook-Pro:Downloads sun$ cd TouchBarDemoApp
suns-MacBook-Pro:TouchBarDemoApp sun$ git bisect start v1.6 v1.5
Bisecting: 9 revisions left to test after this (roughly 3 steps)
[74364d4a67200c7ff9fa956cac92e410bfb77646] Move key up fallback to GlobalEventApplication
suns-MacBook-Pro:Tou

[2016-11-23 14:14] robbertkl commented on #62
You can do `git bisect reset` and then start over with the bisect start command.

Also, if you've found a working version, type `git bisect good` and keep testing other versions until git says `XXXXXXXXXXXXXXXXXXXXXXXX is the first bad commit`.

[2016-11-23 14:16] sonvirgo commented on #62
Ok

[2016-11-23 14:28] sonvirgo commented on #62
@robbertkl
Here is the result

24a6eccb61e3d20387f703850a2a8114a32ed280 is the first bad commit
commit 24a6eccb61e3d20387f703850a2a8114a32ed280
Author: Robbert Klarenbeek <robbertkl@renbeek.nl>
Date:   Thu Nov 17 02:26:29 2016 +0100

    Add max duration for modifier keypresses

:040000 040000 abb886e4778a5a2977b79305038ef5465abfaa8e 87efe554c5aff0941af9eea609f86d5a04104c2b M	TouchBarServer

[2016-11-23 14:31] robbertkl commented on #62
Great work, thanks. Can you try pressing the modifier key you've set real quick? So don't hold the key down but press the key down and let it go as quickly as possible. If that works, we know that's the problem.

[2016-11-23 14:54] QES opened #76 "Setup Instructions"
Although obvious it might be useful for those tyro users who think this is a cool tool (it is a great one by they way) to give simple instructions on what to do to compile with Xcode.

ie what to select and how toc hange the bundel identifier and Team Signing user to get it to compile.  Just pointers to people will help them understand what is required and how to do this.  The link to the side loa

[2016-11-23 15:07] sonvirgo commented on #62
Oh it works. I suspect setting stick key cause that

[2016-11-23 15:08] robbertkl commented on #62
Ahhhh, that explains it!

[2016-11-23 15:08] #62 closed

[2016-11-23 15:09] sonvirgo commented on #62
It really need sticker key to lockup special key

[2016-11-23 15:11] sonvirgo commented on #62
Can you make it V 1.6 to work with sticker key.

[2016-11-23 15:14] robbertkl commented on #62
You can change [this line](https://github.com/bikkelbroeders/TouchBarDemoApp/blob/2e9e82c82e905435fb90c555fc484edb1e7de25a/TouchBarServer/ModifierKeyController.m#L16) in your code to `100` instead of `0.3` to make it work for sticky keys.

[2016-11-23 15:18] sonvirgo commented on #62
Thank you. I see.

[2016-11-23 17:17] GoldenChaos opened #77 "Allow toggling of status bar on/off for virtual keyboard and touchbar-only layouts"
Adding the status bar would allow me to see if my iPad is currently being used for calling and help wth multitasking. Also it's a nice clock.

[2016-11-25 06:22] sonvirgo commented on #62
Solved. I confirm set timer to 100 re-enable sticky key for V 1.6

[2016-11-26 22:54] w0lfschild commented on #19
Renamed repos will redirect from it's old URL. Not sure if that lasts forever but TouchBarDemoApp is an odd repo name. https://github.com/blog/1508-repository-redirects-are-here

You can use applescript. To add or remove something from the users login items. Not the most elegant solution but it works.

[code]

[2016-11-28 02:40] leo98gomez opened #78 "Allow scrolling by placing the cursor on status bar and scrolling without clicking"
Currently we can scroll through the TouchBar by clicking and dragging along, but could it be possible to do it by placing the mouse cursor on top of it and just dragging along without having to click. I'm using an apple magic Mouse and since it can detect gestures it'll be kind of cool to be able to do it. It'll give it an actual feeling as if we were really dragging it along with out fingers in a

[2016-11-28 06:21] robbertkl commented on #78
Duplicate of #31

[2016-11-28 06:21] #78 closed

[2016-11-28 14:32] midi1996 commented on #35
You may need UPDD's driver + UPDD Gestures, will cost you a lot though. I'm using my Ativ tab 7 with macOS with touch and all that stuff and it's working fine :)

[2016-11-28 14:45] midi1996 commented on #76
Actually it's quite easy for anyone:

1) Click on Checkout an existing project on the home screen
2) Paste the github link in Download or Clone
3) Let it get the files
4) Check what would you like to compile in the top of the window (next to the Build (play) button) and you'll see the TouchBarClient and Server (client being the mobile device, and Server the mac/hack), click on what you want to com

[2016-11-28 14:47] robbertkl commented on #76
We have setup instructions in our README. If these are not sufficient, and you'd like to improve them, a PR is always very welcome.

[2016-11-28 14:47] #76 closed

[2016-11-28 14:49] midi1996 opened #79 "[Suggestion] Anchorage to a side of the screen"
As the dock, I would like it to stick and force other apps not to go behind it as I Zoom them. This will be useful instead of toggling it each time, also I have a touch screen, so that would be great!
Thanks

[2016-11-28 18:48] sonvirgo commented on #35
Yet touch-base has evaluation driver, work greet with my Yoga 15

[2016-11-28 18:59] robbertkl commented on #35
We "support" only official Mac devices that don't come with a Touch Bar. For unsupported devices, you're on your own. We just can't support this devices since we don't own them and can't test for them and don't even know what's broken.

Even though we don't support these devices, we're willing to include fixes for these devices when submitted through a PR, as long as they don't break functionality

[2016-11-28 18:59] #35 closed

[2016-11-29 07:23] sonvirgo commented on #35
The touchscreen work exactly as if the real touch bar.

[2016-11-29 07:33] robbertkl commented on #35
OK, so then there is no issue?

[2016-11-29 07:47] sonvirgo commented on #35
I haven't retried iTunes again. But if the Touchbar is oded as is default on real Mac, I can test

[2016-11-29 17:44] palxex commented on #26
@par5ul1 Just did a little research, seems its main propose is help you inject multi-touch event if you already got a OSX-supported multi-touch device - it means magic mouse/trackpad. For those who don't have either, the multitouch framework cannot even start working ( cannot get a valid MTDeviceRef - and all later works depends it ). To make it work, we'll need first emulate such a device, from d

[2016-11-29 22:44] idcrook commented on #15
will close this issue as a workaround/possible related cause was identified

[2016-11-29 22:44] #15 closed

[2016-12-02 21:24] trodriguez opened #80 "Emoji on the touchbar incomplete?"
Seems like we don't get the full emoji touchbar with categories, etc. when using this app.  Is everyone else seeing this or am I missing some setting.  I just see a row of emojis but no way to select another set.

[2016-12-02 21:25] robbertkl commented on #80
We do not make the content of the Touch Bar, this is controlled by macOS. Apple did not yet release the emoji viewer that they demonstrated during the keynote, so you'll have to wait for that.

[2016-12-02 21:25] #80 closed

[2016-12-03 18:08] duraidabdul commented on #80
In all the new Mac reviews I have seen, there are demonstratopmas of the fully functional emoji picker, so I would think there is a way to get them working

[2016-12-03 18:12] duraidabdul opened #81 "Emoji picker"
I know it is claimed that the complete emoji picker hasn't been implemented in the new macOS version, but I'm pretty sure it has been, because in the video demo it shows up (at 1:17) https://www.youtube.com/watch?v=RZLx03OPpUU

Also, it shows up in the reviews for the new MacBook Pro

[2016-12-03 18:27] robbertkl commented on #80
Perhaps, but there's nothing our app can do here. We just display what macOS sends us.

[2016-12-03 18:28] robbertkl commented on #81
The contents of the Touch Bar display are not controlled by the app. MacOS does this.

[2016-12-03 18:28] #81 closed

[2016-12-03 20:42] Maximilian1312 opened #82 "Build Error Message"
I have the latest version of macOS sierra I can download from the Mac App Store. However the app don't like me. I get this error message: We need at least macOS 10.12.1 (Build 16B2657). You have: Version 10.12.1 (Build 16B2555). The app is really cool and it would be sad if the app can't work with my build version.

UPDATE: I read the description of the repo. -> SOLVED

[2016-12-03 20:44] #82 closed

[2016-12-04 15:05] par5ul1 opened #83 "TrackPad Support Idea"
So I had just one more idea for adding trackpad support to the app. You could perhaps make the mac a vnc host and the ipad a client. Do you think that would be possible?

[2016-12-04 18:02] bwesterhof commented on #83
This would be awesome!

[2016-12-04 19:00] trodriguez commented on #80
Ok.  Thanks for a great utility anyway!  Maybe this will work in a future OS update.

[2016-12-04 19:09] robbertkl commented on #83
No, this is a demo app for the Touch Bar, not a VNC client. There are hundreds of VNC apps in the App Store already.

Also, this is a duplicate of #26, #32, #60 and #75.

[2016-12-04 19:09] #83 closed

[2016-12-06 02:58] jimcox7 opened #84 "[Suggestion] Add a trackpad and wireless connectivity"
With the touch bar at the top of the iPad, then a keyboard and then a working trackpad underneath you'll have a killer app!

Loving the work! X

[2016-12-06 13:36] robbertkl commented on #84
Closed as duplicate of #26, #32, #60, #75 and #83.

[2016-12-06 13:36] #84 closed

[2016-12-06 13:40] maxbaeumle commented on #84
@robbertkl Perhaps you want to use Issue Templates to notify people of common "issues" before they are creating more duplicates: https://help.github.com/articles/creating-an-issue-template-for-your-repository/

[2016-12-06 13:41] robbertkl commented on #84
Thx @maxbaeumle, I was actually JUST looking into that myself 😄. The duplicates are starting to get annoying, people don't even bother to search the issue list before submitting.

[2016-12-11 03:36] duraidabdul opened #85 "Fullscreen"
Would it be possible to have the touchbar only work on the desktop so that it doesn't obstruct the display of fullscreen apps and videos? It did this in an earlier version, but I was wondering if it would be possible to add a toggle to enable/disable it in fullscreen, and have it only function on the desktop like before

[2016-12-15 15:01] Tan-the-Man commented on #85
You can, all you have to do is toggle the fn key on your keyboard.

[2016-12-15 15:03] Tan-the-Man opened #86 "Missing Emoji list on Messaging emoji button on touchbar"
On messages you can send frequently used emojis but does not have the list present. You should be able to swipe left and the emoji menu pops up on touch bar.

[2016-12-15 15:27] robbertkl commented on #86
The contents of the Touch Bar display are not controlled by the app. MacOS does this.

[2016-12-15 15:27] #86 closed

[2016-12-17 16:18] dpdpdpdpdpdp opened #87 "iOS app display"
Forgive the probably naive question, but the iOS app is showing me a photo of a new MacBook Pro that mirrors keyboard presses on my laptop and has a tiny functional Touch Bar (screen shot attached).  Your usage video shows the iPad displaying a nice useful large Touch Bar display (and no photo of a MacBook Pro).  Is there some command I am not finding to switch to that other mode?
![img_0195](http

[2016-12-17 16:44] #87 closed

[2016-12-18 08:55] wangxufire opened #88 "Whether it can be automatically hidden？"

[2016-12-19 19:00] duraidabdul commented on #85
I mean automatically, kind of like the dock

[2017-01-07 09:02] joel0063 opened #90 "[Suggestion] Allow physical function keys to control on screen touch bar"
It would be *very* cool if the physical function keys could correspond to the on-screen touch bar controls. Of course, some scaling would be required so that the touch bar is the same size as the physical keyboard.

[2017-01-09 02:07] bwoucheryt opened #91 "ios app link"
does anyone have the link for this ios app ipa, i found one but my app keeps crashing when i try to use it

[2017-01-09 08:57] robbertkl commented on #91
You'll need to build this app yourself using Xcode.

[2017-01-09 08:57] #91 closed

[2017-01-09 09:03] robbertkl commented on #90
The Touch Bar has different visualizations every time, which doesn't correspond to the physical buttons. It allows dragging and multi-touch, which is impossible with the keys.

Also, overriding the function keys is not something we want for a Touch Bar demo app.

[2017-01-09 09:03] #90 closed

[2017-01-15 11:16] dj-hedgehog opened #92 "Does not show up on 10.2.2 (16C67)"
I've got a Touch Bar MBPro and would like to use this app to record a video including the touchbar for YouTube but after opening the tool and pressing FN the window does not show up.
Is this related to me installing 10.2.2 ?

[2017-01-15 12:05] robbertkl commented on #92
No, the app should still work on 10.2.2. Did the tool work before on the same laptop?

[2017-01-15 15:07] crunchtime-ali commented on #92
It only started to work after setting this option to "extend control strip"

![tastatur 2017-01-15 16-06-37](https://cloud.githubusercontent.com/assets/7140800/21963509/9f0674ea-db3c-11e6-8ee3-f3e108813887.png)

[2017-01-15 15:07] #92 closed

[2017-02-06 05:40] wingsstudio opened #93 "Does not show up on 10.12.3 (16D32)"
Is that mean 10.12.3(16D32) cannot be support?

[2017-02-06 09:22] robbertkl commented on #93
Everything after 10.12.1 should work. In fact, I just tested it on 10.12.3 and it worked fine.

[2017-02-07 01:38] wingsstudio commented on #93
Is there any other thing to set to make app work didn't show in ReadMe.md ?

[2017-02-07 10:53] robbertkl commented on #93
No, just install it and you should be good to go. Did you check the menubar icon to see what toggle key is set? Try a different key.

[2017-02-07 16:30] wingsstudio commented on #93
In fact, before submit issues I have try every key . But no one was available .
There is a strange thing . On the first time open the app , it didn't show up a window for requiring me to  give accessibility permissions , Is that the issues's reason?
But the app didn't work even I add the app to accessibility list ...

[2017-02-07 16:58] robbertkl commented on #93
What version of TouchBarDemoApp do you have?

[2017-02-08 07:05] wingsstudio commented on #93
V16

[2017-02-08 08:24] robbertkl commented on #93
Every version since v1.2 does not ask about accessibility anymore! So I'm not really sure how it could have asked on v1.6.

[2017-02-08 09:40] wingsstudio commented on #93
It's so sad that the app cannot run on my macbook and even now I haven't found out the reason.
:-(

[2017-02-08 13:53] robbertkl commented on #93
Are you running any other accessibility tools, like for example BetterTouchTool?

[2017-02-08 16:30] wingsstudio commented on #93
In fact, I run a lot of accessibility tools...
I will try to run the app without open any other app if I have time.
After all , thanks for talking .
:-)

[2017-02-15 18:05] ad3k opened #94 "Every key EXCEPT fn works. Uninstall?"
Two things:

1. Every key except the fn key works. Unfortunately, that is the key I need to use.
2. How do I get my function keys back? The entire row is not accessible after uninstalling.

Thanks.

[2017-02-15 18:06] robbertkl commented on #94
What device or keyboard are you using?

[2017-02-15 18:10] ad3k commented on #94
Hi Robert,
My setup is Apple wireless model A1314 and late 2014 27" iMac running 10.12.4.

[2017-02-15 19:12] robbertkl commented on #94
The app can't process Fn keys from some external keyboards, since they don't send a real key signal. But since you're using an Apple keyboard, this should not be the cause. I do really suggest to use a key other than Fn if it's not working for you. Also, try to reboot and/or disable other accessibility tools (like BetterTouchTool) if you have them installed.

I'm not sure about your 2nd question?

[2017-02-15 19:45] ad3k commented on #94
Ok I will have to use another key.
I have tried multiple things like rebooting, restore from TimeMachine backup, repairing permissions.
In regards to my second issue-When I disable the app, none of my function keys work.

[2017-02-15 20:59] robbertkl commented on #94
The 2nd issue hardly seems related to our app. We haven't heard this before from any of our users and the app doesn't do anything with function key handling.

The only thing I can think of is that it might be because macOS is sort of tricked in having a Touch Bar, which means a keyboard without a function row, but of that's the cause the issue should have come up much sooner.

If you have Xcode in

[2017-02-25 20:00] m4rouf opened #95 "Latest version still stops working after some time"
PLEASE READ:
Before submitting a new issue, make sure to search previous issues first. You can do this on the [issues page](https://github.com/bikkelbroeders/TouchBarDemoApp/issues?q=is%3Aissue).

I noticed the change log says this issue is fixed in V1.6 but it turns out there's still an issue :(. I've tried changing the toggle key but it's the same problem with all of them.

[2017-02-27 15:17] andyvb1 opened #96 "[suggestion]"
maybe you can make this wireless like with bluetooth or over wifi?

[2017-02-27 15:18] AndreasVerhoeven commented on #96
Due to performance, we haven't done that: the framerate of the touch bar was too low. It's not that difficult to enable thru code, tho.

[2017-02-27 15:18] #96 closed

[2017-03-05 23:44] fulldecent commented on #3
I like this feature's idea of

* Pressing FN to enable/disable touch bar
* Locating the touch bar at the bottom-center of the screen

I would prefer this to https://github.com/bikkelbroeders/TouchBarDemoApp/issues/3#issuecomment-258667435 that is

* Enable touch bar permanently
* Locating the touch bar at the bottom-center of the screen

[2017-03-07 00:11] julianschiavo commented on #3
Hey @nakulbajaj can you give us the source code for your version please?

[2017-03-07 02:16] nakulbajaj commented on #3
Hi @wwdc17

All I really did was switch out
`[_touchBarWindow setFrameOrigin:self.mouseTouchOrigin];`

 in the toggleTouchBarWindow method in AppDelegate.m of TouchBarServer with

[code]

I understand that it's not neat but it works! I did some math there to figure out the width of the screen and then found the x value knowing that the touch bar width seems to be 1095. Should work for all screen s

[2017-03-07 02:34] julianschiavo commented on #3
OK, thanks! I'm gonna work with my 0.1% proficiency to make it have black bars on either side :P

[2017-03-07 02:37] julianschiavo commented on #3
You wanna submit a pull request or should I?

[2017-03-07 02:42] nakulbajaj commented on #3
I could submit a PR but I decided not to just because I don't want it to default to the center and bottom. I want the user to be able to continue choosing a different location with their mouse.

Do you mind adding another menu item which can enable the functionality I made? Just a boolean that can be enabled or disabled?

Then by all means you can submit a PR 👍

[2017-03-07 02:43] julianschiavo commented on #3
I don't even know how... 😞

[2017-03-07 02:43] julianschiavo commented on #3
@robbertkl Can you guys keep supporting this app?

[2017-03-07 03:40] nakulbajaj commented on #3
@wwdc17 If you're just using this app to have TouchBar functionality on your non-touchbar Mac, I strongly recommend [Touché](https://red-sweater.com/touche/)

[2017-03-07 05:09] julianschiavo commented on #3
That... doesn't look good. It has a X button which takes up lots of space for nothing. I'd prefer using this 😛

[2017-03-07 07:46] wwdc17 commented on #3
@nakulbajaj @fulldecent @MarcoBrandao @robbertkl I am happy to say I have made a modified version which gives a togglable option for "Center Align", which can be accessed here: https://github.com/bikkelbroeders/TouchBarDemoApp/pull/97

I hope it can be merged so everyone can easily use it, but in the meantime, just go on my repo, download the source, and build it to have the same functionality 😃 .

[2017-03-07 08:36] robbertkl commented on #3
@wwdc17 We're not actively working on this anymore, since in our eyes this way a demo project and is pretty much finished. However, this does not mean it's dead: we're happy to accept PR's to add improvements or even new features, if they fit.

Unfortunately, most "issues" that are being submitted are just wild and crazy features that people _think_ they so desperately need.

This, however, seems

[2017-03-07 10:05] wwdc17 commented on #3
Awesome, thanks! BTW, if you wait a little bit I might be able to submit a version with Left and Right align as well.

[2017-03-07 10:07] wwdc17 commented on #49
Hey... adding some black bars around the bar would be a good addition.... what do you think @robbertkl? I'm certainly not good enough to do it myself though.

[2017-03-07 10:10] wwdc17 commented on #18
Hey... this pull request is adding the "fixed" position touchbar, might be approved soon: https://github.com/bikkelbroeders/TouchBarDemoApp/pull/97

[2017-03-07 10:10] robbertkl commented on #49
Sounds great, as long as it's a setting. Shouldn't be that hard. Just drop me a PR and I'll take a look.

[2017-03-07 10:11] wwdc17 commented on #18
@m4rouf @iMasterAle @calaidosCope ^^

[2017-03-07 10:12] wwdc17 commented on #49
I can't do it myself, I suck. Sorry. (Unless you meant an empty PR?)

[2017-03-07 10:21] wwdc17 commented on #3
Added.

[2017-03-24 14:30] gerwitz commented on #32
Not to beat a dead horse, but could basic gestures be supported?

My (probably very personal) scenario: I use a mouse but still reach to the trackpad for two-finger scroll and three-finger swipe-between-spaces.

[2017-03-24 14:36] gerwitz commented on #26
Not to beat a dead horse, but could a subset of "non-pointer" gestures be more reasonable?

My (probably very personal) scenario: I use a mouse but still reach to the trackpad for two-finger scroll and three-finger swipe-between-spaces.

Even if that's going too far, thanks for publishing this! I hope it will drive TouchBar emulation across other "use my iPad as a peripheral" apps.

[2017-03-29 11:45] cheft opened #99 "[Suggestion] Adaptive iPhone small screen & Add touchpad mode"
[Suggestion] Adaptive iPhone small screen & Add touchpad mode

[2017-04-03 02:01] Klawens commented on #93
It's not working on 10.12.3 (16D32)

[2017-04-16 15:00] midi1996 commented on #93
Working fine here with 10.12.4 (16E195). Using v1.6. As said before, disable other Accessibility apps and try again, and change the shortcut to anything other than Fn and try again.

[2017-04-28 04:09] Happymanpm opened #100 "SUGGESTION: Trackpad Support"
This app is amazing - I'm using it right now!
The one thing that could make it better - a trackpad!
There's space right under the keyboard in every mode, and it would make this app incredible.

Thanks for reading

[2017-05-02 13:21] robbertkl commented on #100
Closed as duplicate of #26, #32, #60, #75, #83 and #84.

[2017-05-02 13:21] #100 closed

[2017-05-06 11:26] guloli opened #101 "swiping"
it would be a good option to swipe (for example the emojis) with two finguers, because other way its boring to double tap hold ,and swipe until you don't have more screen to move the mouse

[2017-05-06 11:28] robbertkl commented on #101
This is just the way the Touch Bar works, and there's nothing we can change about it.

It was designed for 1-finger dragging, since it's supposed to be a touchscreen.

[2017-05-06 11:28] #101 closed

[2017-05-06 11:34] guloli commented on #101
thank you  I thought you could change the way it behaves, as it wasn't the same program as the apple touch bar (I mean you can´t change the code

[2017-06-29 10:09] martzell commented on #99
A) Is it possible to show the Touch Bar bigger? More height to make it easier to hit. I guess the real Touch Bar is around 28 cm wide, while the iPad is only 20 cm, on my iPad mini and iPhone Plus it is very hard to use. That's why I played around with Xcode Interface Builder for the first time, but the Touch Bar itself did not change it height, that means the aspect ratio became not distorted.

F

[2017-07-25 05:57] Aldebaran91 opened #102 "iOS App crashes on iPad 2 (9.3.5)"
If the App is executed on the iPad 2 (9.3.5) is throws an error.

2017-07-25 07:54:54.304 TouchBarClient[3207:1132296] *** Assertion failure in -[_CUIThemePixelRendition _initWithCSIHeader:], /BuildRoot/Library/Caches/com.apple.xbs/Sources/CoreUI/CoreUI-374.1.1/CoreTheme/ThemeStorage/CUIThemeRendition.m:2881
2017-07-25 07:54:54.307 TouchBarClient[3207:1132296] -[CUIThemeRendition initWithCSIData:f

[2017-08-03 09:21] Sunbelife opened #103 "Doesn't work on High Sierra"
Mac: 10.13 Beta (17A315i)
iPad 10.3.2

[2017-08-05 09:50] sindresorhus commented on #19
You might find [`LaunchAtLogin`](https://github.com/sindresorhus/LaunchAtLogin) useful. It only requires a couple of lines of code to use and no need for you to deal with a helper app.

[2017-08-05 12:17] robbertkl commented on #19
Yes, that was already mentioned in #14, which was closed in favour of this one. PR's for `LaunchAtLogin` are welcome!

[2017-08-05 12:20] robbertkl commented on #19
@sindresorhus This uses a helper app as well and creates an external dependency, so rather not.

PR's for `LSSharedFileList` stuff are welcome, though.

[2017-09-17 10:12] cxwx commented on #103
I try it worked

[2017-09-26 10:44] wenyc commented on #102
Hello,I have the same issue, have you solved the problem?

[2017-11-01 14:56] manipandi commented on #103
How can I use in version : 10.12.6
Can you help me with that.

[2017-11-06 14:04] #103 closed

[2018-04-14 07:23] netsi1964 opened #104 "(enhancement) Option to drag the TouchBar around"
Great app! :-)

I would love if it would be possible to drag the TouchBar around the screen, perhaps holding down say CMD and then drag it somewhere. That position should then be remembered.

Thanks

[2018-04-16 11:40] robbertkl commented on #104
It will appear wherever your cursor is when you toggle it. So if you need in a different position, just move your mouse to a desired position and press your toggle key twice.

[2018-04-16 11:40] #104 closed

[2019-04-03 18:59] pointum opened #106 "Client: "Address already in use” error"
The Client does not show the TouchBar on launch. If I go to the Home screen and reactivate the app, it starts working.

I’m running from the latest source code.

The problem is that on app launch `startListening` is called twice in a row:

- `-[ViewController viewDidAppear:]`
- `UIApplicationDidBecomeActiveNotification` notification

The second call fails with:

Here’s what my print debugging look

[2019-11-16 14:09] braincrush opened #107 "Keyboard works - touchbar does not"
Not sure if this project is dead or not, if it isn't I could use some help, everything looks as it should be with one exception the touch doesn't work on touch bar... The on-screen keyboard works fine but the bar is not responsive to touch, the content changes with the applications so it's not frozen.

The iPad is Air3 and it's connected to 2017 Imac on Catalina.

[2019-11-18 06:40] pointum commented on #107
Just had the same issue. Quit “TouchBarServer” (without icon) using Activity Monitor.

[2019-11-18 07:45] braincrush commented on #107
Thanks for the suggestion, i will try that later today.

[EDIT]
this did not help, unfortunately...

[2019-11-27 03:57] latenitefilms opened #108 "Broken on 16inch MacBook Pro"
The TouchBarDemoApp seems to be broken on the new 16-inch MacBook Pro. When TouchBarDemoApp is running the Touch Bar goes completely blank/black, and doesn't come back to life until TouchBarDemoApp is closed. I assume because the 16-inch MacBook Pro Touch Bar is a different width to the original, some code needs to be modified to allow for this?

Any ideas @bikkelbroeders?

[2020-01-14 16:53] #50 closed

[2020-02-25 13:00] aidan5656 opened #109 "Freezes"
the TouchBar doest let me tap it and change the setting but change when I go to safari and other apps but I can’t tap what on the TouchBar

[2020-02-25 13:02] ghost commented on #107
See I got the same thing but what I did was only way to fix it for now is right when you log in on the Mac connect you iPad have the app open and open TouchBar demo quickly it works for me

[2020-02-25 13:05] ghost commented on #107
But if you disconnect you iPad when you using the Mac you have to restart the Mac and do it over again to get the Touch Bar to work

[2020-04-02 07:16] jappyjan opened #110 "Touchbar via Raspberry"
Hey,

this is actually more of a question than an issue...

I really love the Apple Touchbar on my Mac and would like to use it with an external Keyboard...
So i googled for external Touchbar but all i could find are Software Solutions (like this one) where the touchbar is either emulated on the mac itself or an an ios device...

Is it possible (i guess it is) to port this code to be run of a rasp

[2020-04-02 07:48] robbertkl commented on #110
Yeah, that could work. However, the communication uses Apple tech, so you'd have to replace that. This app mainly consists of UI code and communications; the "touchbar part" is actually pretty simple, so it'd make more sense to start a new app using only that and building custom communication with the external device (sending frames to pi and touch events back).

Since this is out of scope for thi

[2020-04-02 07:48] #110 closed

[2020-05-14 05:02] WorkInProgress-Development commented on #107
I've found found running the following in Terminal.app (which can be found on any mac): ```pkill "Touch Bar agent"; killall ControlStrip TouchBarServer```, and then reopening TouchBarServer fixes that issue.

[2020-05-19 16:54] #79 closed

[2020-07-08 09:52] NickHatBoecker commented on #18
@robbertkl Any news on the static position for this tool? Would love to see this

[2020-07-08 09:56] AndreasVerhoeven commented on #18
@NickHatBoecker This is a demo tool from 4 years ago, it isn't actively maintained.

[2020-07-08 09:56] #18 closed

[2021-06-01 15:54] #88 closed

[2021-12-18 02:41] dkleo11 opened #112 "New Mac support needed !"
I have just bought a new MacBook Pro 2021, but it doesn’t work so good on it, when open the app, it is totally a black window, but when i click Windows-TouchBar-1st generation in Xcode, it works well. Wish you update or tell me how to fix it ,thank you!

[2022-11-03 23:07] #85 closed